#  Feature Engineering 데이터 확인 및 전처리

In [1]:
cd ..

D:\Program_Files\mini_project

In [2]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: A8D6-BD12

 D:\Program_Files\mini_project 디렉터리

2021-11-23  오후 05:47    <DIR>          .
2021-11-23  오후 05:47    <DIR>          ..
2021-11-23  오후 05:47    <DIR>          .ipynb_checkpoints
2020-11-18  오전 11:32         7,564,965 cs_data.csv
2021-11-24  오전 01:05    <DIR>          etc
2021-11-23  오전 09:11           276,772 대출 위험도 예측 모델.pdf
               2개 파일           7,841,737 바이트
               4개 디렉터리  419,948,257,280 바이트 남음

In [3]:
import pandas as pd
data=pd.read_csv('./cs_data.csv')
#data=pd.read_csv('./Program_Files/mini_project/cs_data.csv')

In [4]:
data.drop(columns='Unnamed: 0', inplace=True)
data

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

## 데이터 확인

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         120269 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 12.6 MB

In [6]:
#기초 통계량 확인
data.describe()

#전체적으로 이상치 분포되어 있음.

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

## 결측치 처리

In [7]:
#결측지 확인
data.isna().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [8]:
#결측치 버리기
drop_data=data.dropna()

In [9]:
#결측치 처리
#평균값으로 대체
#각 특성 열의 전체 평균으로 누락된 값 대체
import numpy as np
from sklearn.impute import SimpleImputer
#data.fillna(data.mean())

imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(data.values)
imputed_data = imr.transform(data.values)

In [10]:
#각 열별 최빈값으로 변경하는 것은 사용하지 않겠음
#mode()
"""
참고
# Null 값을 mode로 대체하는 코드 예제
freq_values = df_ms.documentposition.value_counts().index[0]
df['col1'] = df['col1'].fillna(freq_values)
"""
for i in range(len(data.columns)):
    freq_values=data.iloc[:,i].mode()
    data.iloc[:,i]=data.iloc[:,i].fillna(freq_values)

In [11]:
#군집으로 
#결측치가 포함된 집단들을 확인하고 해당 집단내에서 평균이나 최빈값으로 하는 편이 
#나을 듯 함
#시간이 되면 하는 방향으로

## 이상치 처리

In [12]:
#이상치 처리
#1분위수 이하 3분위수 이상인 이상치 제거
quatile_1 = data.quantile(0.25)
quatile_3 = data.quantile(0.75)
IQR = quatile_3-quatile_1
condition = (data < (quatile_1 - 1.5 * IQR)) | (data > (quatile_3 + 1.5*IQR))
#any() : 하나라도 True인게 있으면 True / axis=1 이면 열 기준
condition = condition.any(axis=1)
#팬시 인덱싱
search_df = data[condition]
IQR_data = pd.DataFrame(search_df)
IQR_data

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
6,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
8,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149987,0,1.000000,28,0,0.055692,3249.0,3,1,0,0,0.0
149988,0,0.902051,31,1,0.347924,7515.0,10,0,1,0,0.0
149989,0,0.013356,62,0,0.001408,9233.0,4,0,0,0,3.0
149992,0,0.871976,50,0,4132.000000,NaN,11,0,1,0,3.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0

## 군집화를 통한 결측치 예측 시도

In [13]:
"""
아이디어

결측치가 포함된 값을 knn을 기반으로 군집화 하여
해당 군집내의 결측치들을 예측해봄
"""

'\n아이디어\n\n결측치가 포함된 값을 knn을 기반으로 군집화 하여\n해당 군집내의 요소들의 최빈값이나 평균값으로 대체하고자 함\n'

In [14]:
#drop_data 이용
#결측치가 제거된 X와 y
#y = drop_data['SeriousDlqin2yrs']

X1 = drop_data.drop(['MonthlyIncome'], axis =1)
X2= drop_data.drop(['NumberOfDependents'], axis =1)

y1= drop_data['MonthlyIncome']
y2= drop_data['NumberOfDependents']

#X1and2= drop_data.drop(['SeriousDlqin2yrs', 'MonthlyIncome','NumberOfDependents'], axis =1)
X1and2= drop_data.drop(['MonthlyIncome','NumberOfDependents'], axis =1)

In [41]:
X1and2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120269 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   RevolvingUtilizationOfUnsecuredLines  120269 non-null  float64
 1   age                                   120269 non-null  int64
 2   NumberOfTime30-59DaysPastDueNotWorse  120269 non-null  int64
 3   DebtRatio                             120269 non-null  float64
 4   NumberOfOpenCreditLinesAndLoans       120269 non-null  int64
 5   NumberOfTimes90DaysLate               120269 non-null  int64
 6   NumberRealEstateLoansOrLines          120269 non-null  int64
 7   NumberOfTime60-89DaysPastDueNotWorse  120269 non-null  int64
dtypes: float64(2), int64(6)
memory usage: 8.3 MB

In [39]:
len(X1and2.columns)

8

In [28]:
#군집화를 위해 결측치만 따로 빼둠

#빈 df생성
isna_df=pd.DataFrame(index=range(0), columns=data.columns)
isna_df

#data[data[i].isnull()]
#data[data.iloc['MonthlyIncome'].isna()]
#data[data.iloc['NumberOfDependents'].isna()]

isna_df1=data[data['MonthlyIncome'].isna()].drop(['MonthlyIncome'], axis=1)
isna_df2=data[data['NumberOfDependents'].isna()].drop(['NumberOfDependents'], axis=1)
isna_df1and2 = isna_df1[isna_df1['NumberOfDependents'].isna()].drop(['NumberOfDependents'], axis=1)

#결측치가 포함된 행만 추출_total
isna_df=pd.concat([isna_df,data[data['MonthlyIncome'].isna()]])
isna_df=pd.concat([isna_df,data[data['NumberOfDependents'].isna()]])
len(isna_df)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
6,0,0.305682,57,0,5710.0,NaN,8,0,3,0,0.0
8,0,0.116951,27,0,46.0,NaN,2,0,0,0,NaN
16,0,0.061086,78,0,2058.0,NaN,10,0,2,0,0.0
32,0,0.083418,62,0,977.0,NaN,6,0,1,0,0.0
41,0,0.072898,81,0,75.0,NaN,7,0,0,0,0.0

In [16]:
#결측치들의 y값 제거
isna_df.drop(['SeriousDlqin2yrs'], axis=1, inplace=True)
isna_df1.drop(['SeriousDlqin2yrs'], axis=1, inplace=True)
isna_df2.drop(['SeriousDlqin2yrs'], axis=1, inplace=True)
isna_df1and2.drop(['SeriousDlqin2yrs'], axis=1, inplace=True)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X1and2)

In [18]:
from sklearn.cluster import KMeans
#분류는 2가지 0,1 최근 2년 동안 90일 이상 연체한 적이 있는지 여부
kmeans = KMeans(n_clusters=2, random_state=0)
kmeans.fit(X_scaled)

KMeans(n_clusters=2, random_state=0)

In [19]:
#예측한 값
cluster = kmeans.labels_
#결측치를 제외하고 예측한 값
cluster.shape

(120269,)

In [20]:
#NA값이 존재하면 분류가 안되는 모양
#따라서 결측치 열이 없는 상태로 예측

In [23]:
#아래 두개는 컬럼 갯수가 안맞아서 안됨
#isna_df1_scaled= scaler.transform(isna_df1)
#isna_df2_scaled= scaler.transform(isna_df2)

#아래도 안됨
#cluster2 = kmeans.predict(isna_df_scaled1)
#cluster2
#cluster3 = kmeans.predict(isna_df_scaled2)
#cluster3

isna_df1and2_scaled= scaler.transform(isna_df1and2)
cluster_left = kmeans.predict(isna_df1and2_scaled)
cluster_left

array([0, 0, 0, ..., 0, 0, 0])

In [36]:
len(isna_df1and2.columns)
isna_df1and2.columns

Index(['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse'],
      dtype='object')

In [27]:
#기존 결측치 인덱스 기준 
isna_df1and2.index

Int64Index([     8,     96,    109,    159,    238,    263,    284,    381,
               382,    412,
            ...
            149748, 149754, 149769, 149790, 149796, 149826, 149854, 149894,
            149948, 149965],
           dtype='int64', length=3924)

In [33]:
isna_df1and2.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse
8,0,0.116951,27,0,46.0,2,0,0,0
96,0,0.542243,48,2,10.0,2,0,0,0
109,0,0.041258,61,0,4739.0,11,0,4,0
159,0,0.000000,63,0,2.0,4,0,0,0
238,0,1.000000,28,0,0.0,0,0,0,0

In [ ]:
#끄에에에

In [31]:
isna_df1and2.join(cluster_left)

AttributeError: 'numpy.ndarray' object has no attribute 'index'

## Feature Selection

In [ ]:
#유용한 특성선택
#ㅣ1규제 L2규제
#순차 특성 선택 알고리즘
#랜덤 포레스트

#차원 축소를 통한 데이터 압축
#주성분 분석
#선형 판별 분석
#산포행렬
#LDA

#다차원 척도를 이용한 feature selection
#

# baseline model