In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [13]:
"""
3. 데이터2 : 업종별 코로나 이전과 이후 총 사업장 수 추이분석

 구현목표
       - 연도별 총 신규 사업장 가입수 (선/바) 그래프 구현
       - 월별(업종별 증감폭 확인) 총 신규 사업장 가입수 (선/바) 그래프 구현
       - 신규 및 폐업 사업장 선별 및 그래프 구현(월별, 연도별 미정)
"""

G:\SSAC\SSAC_2021_playdata\mini_project\data
test=pd.read_csv("G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 1월(2월 없음).csv", encoding='CP949')

,자료생성년월 DATA_CRT_YM VARCHAR(6),사업장명 WKPL_NM\tVARCHAR(100),사업자등록번호 BZOWR_RGST_NO VARCHAR(10),사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1),우편번호 ZIP\tVARCHAR(6),사업장지번상세주소 WKPL_LTNO_DTL_ADDR\tVARCHAR(300),사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300),고객법정동주소코드 CUST_LDONG_ADDR_CD\tVARCHAR(10),고객행정동주소코드 CUST_PADONG_ADDR_CD\tVARCHAR(10),법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2),...,사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1),사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6),사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200),적용일자 ADPT_DT VARCHAR(8),재등록일자 RRG_DT\tVARCHAR(8),탈퇴일자 SCSN_DT VARCHAR(8),가입자수 JNNGP_CNT INTEGER,당월고지금액 CRRMM_NTC_AMT\tINTEGER,신규취득자수 NW_ACQZR_CNT\tINTEGER,상실가입자수 LSS_JNNGP_CNT\tINTEGER
0,2017-12,우성기전(주),126811,1,12816,경기도 광주시 도척면,경기도 광주시 도척면 도척윗로,4161033025,4161033025,41,...,1,292201,동력식 수지 공구 제조업,1988-01-01,0001-01-01,0001-01-01,5,915640,0,0
1,2017-12,서능공원묘지운영회(재),102820,1,11191,경기도 포천시 내촌면,,4165032022,4165032022,41,...,1,701700,화장터 운영 묘지 분양 및 관리업,1988-01-01,0001-01-01,0001-01-01,10,2353920,0,0
2,2017-12,노들새마을금고,108820,1,06923,서울특별시 동작구 노량진동,서울특별시 동작구 만양로,1159010100,1159051000,11,...,1,659202,신용조합,1988-01-01,0001-01-01,0001-01-01,10,3464100,0,1
3,2017-12,유창성업(주),122812,1,22849,인천광역시 서구 오류동,인천광역시 서구 갑문2로,2826011900,2826072000,28,...,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,1988-01-01,0001-01-01,0001-01-01,28,4861080,3,0
4,2017-12,희성전자(주),106810,1,04410,서울특별시 용산구 한남동,서울특별시 용산구 독서당로14길,1117013100,1117067000,11,...,1,701201,비주거용 건물 임대업(점포 자기땅),1988-01-01,0001-01-01,0001-01-01,548,205636020,4,11

In [23]:
test.head()

,자료생성년월 DATA_CRT_YM VARCHAR(6),사업장명 WKPL_NM\tVARCHAR(100),사업자등록번호 BZOWR_RGST_NO VARCHAR(10),사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1),우편번호 ZIP\tVARCHAR(6),사업장지번상세주소 WKPL_LTNO_DTL_ADDR\tVARCHAR(300),사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300),고객법정동주소코드 CUST_LDONG_ADDR_CD\tVARCHAR(10),고객행정동주소코드 CUST_PADONG_ADDR_CD\tVARCHAR(10),법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2),...,사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1),사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6),사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200),적용일자 ADPT_DT VARCHAR(8),재등록일자 RRG_DT\tVARCHAR(8),탈퇴일자 SCSN_DT VARCHAR(8),가입자수 JNNGP_CNT INTEGER,당월고지금액 CRRMM_NTC_AMT\tINTEGER,신규취득자수 NW_ACQZR_CNT\tINTEGER,상실가입자수 LSS_JNNGP_CNT\tINTEGER
0,2017-12,우성기전(주),126811,1,12816,경기도 광주시 도척면,경기도 광주시 도척면 도척윗로,4161033025,4161033025,41,...,1,292201,동력식 수지 공구 제조업,1988-01-01,0001-01-01,0001-01-01,5,915640,0,0
1,2017-12,서능공원묘지운영회(재),102820,1,11191,경기도 포천시 내촌면,,4165032022,4165032022,41,...,1,701700,화장터 운영 묘지 분양 및 관리업,1988-01-01,0001-01-01,0001-01-01,10,2353920,0,0
2,2017-12,노들새마을금고,108820,1,06923,서울특별시 동작구 노량진동,서울특별시 동작구 만양로,1159010100,1159051000,11,...,1,659202,신용조합,1988-01-01,0001-01-01,0001-01-01,10,3464100,0,1
3,2017-12,유창성업(주),122812,1,22849,인천광역시 서구 오류동,인천광역시 서구 갑문2로,2826011900,2826072000,28,...,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,1988-01-01,0001-01-01,0001-01-01,28,4861080,3,0
4,2017-12,희성전자(주),106810,1,04410,서울특별시 용산구 한남동,서울특별시 용산구 독서당로14길,1117013100,1117067000,11,...,1,701201,비주거용 건물 임대업(점포 자기땅),1988-01-01,0001-01-01,0001-01-01,548,205636020,4,11

In [26]:
test.columns

Index(['자료생성년월 DATA_CRT_YM VARCHAR(6)', '사업장명 WKPL_NM\tVARCHAR(100)',
       '사업자등록번호 BZOWR_RGST_NO VARCHAR(10)',
       '사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1)', '우편번호 ZIP\tVARCHAR(6)',
       '사업장지번상세주소 WKPL_LTNO_DTL_ADDR\tVARCHAR(300)',
       '사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300)',
       '고객법정동주소코드 CUST_LDONG_ADDR_CD\tVARCHAR(10)',
       '고객행정동주소코드 CUST_PADONG_ADDR_CD\tVARCHAR(10)',
       '법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)',
       '법정동주소광역시시군구코드 LDONG_ADDR_MGPL_SGGU_CD\tVARCHAR(5)',
       '법정동주소광역시시군구읍면동코드 LDONG_ADDR_MGPL_SGGU_EMD_CD\tVARCHAR(8)',
       '사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1)',
       '사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)',
       '사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200)', '적용일자 ADPT_DT VARCHAR(8)',
       '재등록일자 RRG_DT\tVARCHAR(8)', '탈퇴일자 SCSN_DT VARCHAR(8)',
       '가입자수 JNNGP_CNT INTEGER', '당월고지금액 CRRMM_NTC_AMT\tINTEGER',
       '신규취득자수 NW_ACQZR_CNT\tINTEGER', '상실가입자수 LSS_JNNGP_CNT\tINTEGER'],
      dtype='object')

In [297]:
#앞의 :는 전체행을 쓰겠다는 의미
#뒤는 몇번째 열을 쓰겠다는 의미

#원하는 열만 출력
test1=test.iloc[:,[1,3,6,9,12,13,14,18,20,21]]
test1

,사업장명 WKPL_NM\tVARCHAR(100),사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1),사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300),법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2),사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1),사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6),사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200),가입자수 JNNGP_CNT INTEGER,신규취득자수 NW_ACQZR_CNT\tINTEGER,상실가입자수 LSS_JNNGP_CNT\tINTEGER
0,우성기전(주),1,경기도 광주시 도척면 도척윗로,41,1,292201,동력식 수지 공구 제조업,5,0,0
1,서능공원묘지운영회(재),1,,41,1,701700,화장터 운영 묘지 분양 및 관리업,10,0,0
2,노들새마을금고,1,서울특별시 동작구 만양로,11,1,659202,신용조합,10,0,1
3,유창성업(주),1,인천광역시 서구 갑문2로,28,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,28,3,0
4,희성전자(주),1,서울특별시 용산구 독서당로14길,11,1,701201,비주거용 건물 임대업(점포 자기땅),548,4,11
...,...,...,...,...,...,...,...,...,...,...
470010,(주)삼영기업-(일용) 한화케미칼 154kV 지중선로공사,1,전라남도 여수시 산단중앙로,46,1,452104,배관 및 냉ㆍ난방 공사업,4,4,0
470011,협성기계설비(합)-(일용)서충주신도시테라스하우스신축공사중기계설비공사,1,충청북도 충주시 중앙탑면 원앙9길,43,1,452104,배관 및 냉ㆍ난방 공사업,4,4,0
470012,청암기업(주)/(일용)제주신화월드PlotA호텔건설공사Phase2-1(전기),1,제주특별자치도 서귀포시 안덕면 신화역사로304번길,50,1,452104,배관 및 냉ㆍ난방 공사업,11,11,1
470013,에스아이이엔지（주）(일용)동신대 에너지클러스터 신축공사중 기계설비공사,1,전라남도 나주시 우정로,46,1,452104,배관 및 냉ㆍ난방 공사업,5,5,1
470014,（주）엑사이엔씨/일용/대구은행DGB혁신센타신축공사,1,대구광역시 동구 팔공로53길,27,1,281100,금속 문 창 셔터 및 관련제품 제조업,3,3,0

In [298]:
# 법정동주소광역시도코드
"""
참조 :https://www.code.go.kr/stdcode/regCodeL.do

강원도 : 42
경기도 : 41
경상남도 : 48
경상북도 47
광주광역시 29
대구광역시 : 27
대전광역시 : 30
부산광역시 26
서울특별시 : 11
세종특별자치시 3611
울산광역시 :31
인천광역시 : 28
전라남도 : 46
전라북도 : 45
제주특별자치도 : 50
충청남도 :  44
충청북도 : 4300000000
"""
# 법정동주소광역시도코드 리스트
local_list=[42, 41, 48, 47, 29, 27, 30, 26, 11, 36, 31, 28, 46, 45, 50, 44, 43]
local_result = []

#2021년 8월 지역별 사업장 갯수 
for i in local_list:
    local_result.append(len(test1[test1['법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)'] == i]))
local_result

[13418,
 118439,
 26268,
 23642,
 11773,
 15201,
 10952,
 26231,
 115518,
 2376,
 8243,
 21463,
 18160,
 15533,
 7037,
 19768,
 15992]

In [302]:
#데이터테이블 내 업종별 갯수 카운트
test2=test1['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'].groupby(test1['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'])
test2.count()

사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
11000       254
11001        80
12101         8
12102         4
12201        49
          ...
950000      259
950001        7
950002        1
980000        3
999999    64335
Name: 사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6), Length: 1903, dtype: int64

In [303]:
#데이터 살펴보기
type(test2.count())
test3=test2.count()
#test3.iloc[[0],]
test3.iloc[0]
test3.index[0]

11000

In [304]:
#index 2

job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
#인덱스(업종) 별 합 반복
for i in range(len(test3.index)):
    try:
        if int(test3.index[i]) in range(11000,151104):
            job_dict['1차 산업']+=test3.iloc[i]            
        if int(test3.index[i]) in range(151104,369909):
            job_dict['제조업']+=test3.iloc[i]              
        if int(test3.index[i]) in range(371000,410001):
            job_dict['자원']+=test3.iloc[i]           
        if int(test3.index[i]) in range(451101,453001):
            job_dict['건설업']+=test3.iloc[i]                
        if int(test3.index[i]) in range(501101,525913):
            job_dict['도매 및 소매업']+=test3.iloc[i]      
        if int(test3.index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test3.iloc[i]  
        if int(test3.index[i]) in range(601000,630903):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i] 
        if int(test3.index[i]) in range(630903,672002):
            job_dict['서비스업']+=test3.iloc[i]
        if int(test3.index[i]) in range(701101,703025):
            job_dict['부동산업']+=test3.iloc[i]
        if int(test3.index[i]) in range(711100,713007):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i]          
        if int(test3.index[i]) in range(721000,729001):
            job_dict['정보통신업']+=test3.iloc[i]   
        if int(test3.index[i]) in range(741101,930922):
            job_dict['서비스업']+=test3.iloc[i] 
        if int(test3.index[i]) in range(930925,950003):
            job_dict['달리 분류되지 않은 개인 서비스업']+=test3.iloc[i]
        if int(test3.index[i]) ==999999:
            continue
    except:
        continue
#test3.iloc[0]
#test3.index[0]
job_dict

{'1차 산업': 3806,
 '제조업': 91079,
 '자원': 1792,
 '건설업': 78219,
 '도매 및 소매업': 78985,
 '숙박 및 음식점': 7358,
 '운수 및 창고업, 임대': 15904,
 '서비스업': 62635,
 '부동산업': 23062,
 '정보통신업': 14048,
 '달리 분류되지 않은 개인 서비스업': 1286}

In [ ]:
total_data=pd.DataFrame({'강원도':[],
             '경기도':[],
             '경상남도':[],
             '경상북도':[],
             '광주광역시':[],
             '대구광역시':[],
             '대전광역시':[],
             '부산광역시':[],
             '서울특별시':[],
             '세종특별자치시':[],
             '울산광역시':[],
             '인천광역시':[],
             '전라남도':[],
             '전라북도':[],
             '제주특별자치도':[],
             '충청남도':[],
             '충청북도':[]})
total_data

In [ ]:
total=total_data.append(pd.Series(local_list, index=total_data.columns), ignore_index=True)

In [ ]:

total_df= pd.DataFrame({'일자':text_date_l, '국내발생':text_in_l, '해외유입':text_out_l,'신규_확진자_수':text_total_l})
mk_df

%%time
#test[test.iloc[:,[9]]==50]
test[test.iloc[:,[9]]==50]

In [300]:
#업종별 코드
"""
참조 : 국세청업종분류코드

제조업 151101~922106 

건설업 451101~453000 

도매 및 소매업 501101~749940

운수 및 창고업 601000~749930

숙박 및 음식점업 551001~552309

부동산업 701101 ~ 921404

=============
1. 정보통신업 221100~924910
전문, 과학 및 기술서비스업 730000~930904

2. 1차 산업
농업,임업 및 어업  011000~ 52200
광업 ~ 101000 ~143107

3.서비스업
교육서비스업 551003~ 930921
사업시설 관리, 사업지원 및 임대 서비스업 143200~930917
보건업 및 사회복지 서비스업 851101~950002
예술, 스포츠 및 여가관련 서비스업 512293 ~ 924917
협회 및 단체, 수리 및 기타 개인 서비스업 701700~950000
금융 및 보험업 659201~749904

4.공공
공공행정, 국방 및 사회보장 행정
국제 및 외국기관

5.자원
전기, 가스, 증기 및 공기조절 공급업 401000~403000
수도, 하수 및 폐기물 처리, 원료 재생업 351104~900300

가구내 고용활동 950001
########################

"""

'\n참조 : 국세청업종분류코드\n\n제조업 151101~922106 \n\n건설업 451101~453000 \n\n도매 및 소매업 501101~749940\n\n운수 및 창고업 601000~749930\n\n숙박 및 음식점업 551001~552309\n\n부동산업 701101 ~ 921404\n\n=============\n1. 정보통신업 221100~924910\n전문, 과학 및 기술서비스업 730000~930904\n\n2. 1차 산업\n농업,임업 및 어업  011000~ 52200\n광업 ~ 101000 ~143107\n\n3.서비스업\n교육서비스업 551003~ 930921\n사업시설 관리, 사업지원 및 임대 서비스업 143200~930917\n보건업 및 사회복지 서비스업 851101~950002\n예술, 스포츠 및 여가관련 서비스업 512293 ~ 924917\n협회 및 단체, 수리 및 기타 개인 서비스업 701700~950000\n금융 및 보험업 659201~749904\n\n4.공공\n공공행정, 국방 및 사회보장 행정\n국제 및 외국기관\n\n5.자원\n전기, 가스, 증기 및 공기조절 공급업 401000~403000\n수도, 하수 및 폐기물 처리, 원료 재생업 351104~900300\n\n가구내 고용활동 950001\n########################\n\n'

In [135]:
test1.columns
test1

,사업장명 WKPL_NM\tVARCHAR(100),사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1),사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300),법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2),사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1),사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6),사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200),가입자수 JNNGP_CNT INTEGER,신규취득자수 NW_ACQZR_CNT\tINTEGER,상실가입자수 LSS_JNNGP_CNT\tINTEGER
0,우성기전(주),1,경기도 광주시 도척면 도척윗로,41,1,292201,동력식 수지 공구 제조업,5,0,0
1,서능공원묘지운영회(재),1,,41,1,701700,화장터 운영 묘지 분양 및 관리업,10,0,0
2,노들새마을금고,1,서울특별시 동작구 만양로,11,1,659202,신용조합,10,0,1
3,유창성업(주),1,인천광역시 서구 갑문2로,28,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,28,3,0
4,희성전자(주),1,서울특별시 용산구 독서당로14길,11,1,701201,비주거용 건물 임대업(점포 자기땅),548,4,11
...,...,...,...,...,...,...,...,...,...,...
470010,(주)삼영기업-(일용) 한화케미칼 154kV 지중선로공사,1,전라남도 여수시 산단중앙로,46,1,452104,배관 및 냉ㆍ난방 공사업,4,4,0
470011,협성기계설비(합)-(일용)서충주신도시테라스하우스신축공사중기계설비공사,1,충청북도 충주시 중앙탑면 원앙9길,43,1,452104,배관 및 냉ㆍ난방 공사업,4,4,0
470012,청암기업(주)/(일용)제주신화월드PlotA호텔건설공사Phase2-1(전기),1,제주특별자치도 서귀포시 안덕면 신화역사로304번길,50,1,452104,배관 및 냉ㆍ난방 공사업,11,11,1
470013,에스아이이엔지（주）(일용)동신대 에너지클러스터 신축공사중 기계설비공사,1,전라남도 나주시 우정로,46,1,452104,배관 및 냉ㆍ난방 공사업,5,5,1
470014,（주）엑사이엔씨/일용/대구은행DGB혁신센타신축공사,1,대구광역시 동구 팔공로53길,27,1,281100,금속 문 창 셔터 및 관련제품 제조업,3,3,0

In [204]:
"""
참조 : 국세청업종분류코드


건설업 451101~453000 

도매 및 소매업 501101~749940

운수 및 창고업 601000~749930

숙박 및 음식점업 551001~552309

부동산업 701101 ~ 921404


제조업 151101~922106 

=============
1. 정보통신업 221100~924910
전문, 과학 및 기술서비스업 730000~930904

2. 1차 산업
농업,임업 및 어업  011000~ 52200
광업 ~ 101000 ~143107

3.서비스업
교육서비스업 551003~ 930921
사업시설 관리, 사업지원 및 임대 서비스업 143200~930917
보건업 및 사회복지 서비스업 851101~950002
예술, 스포츠 및 여가관련 서비스업 512293 ~ 924917
협회 및 단체, 수리 및 기타 개인 서비스업 701700~950000
금융 및 보험업 659201~749904

4.공공
공공행정, 국방 및 사회보장 행정
국제 및 외국기관

5.자원
전기, 가스, 증기 및 공기조절 공급업 401000~403000
수도, 하수 및 폐기물 처리, 원료 재생업 351104~900300

가구내 고용활동 950001
########################

"""
#데이터테이블 내 업종별 갯수 카운트
test2=test1['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'].groupby(test1['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'])
test2.count()

#업종이 등록되지 않은것은 제외하고 분석

#for i in test2:
#    print(i)

사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
11000       254
11001        80
12101         8
12102         4
12201        49
          ...
950000      259
950001        7
950002        1
980000        3
999999    64335
Name: 사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6), Length: 1903, dtype: int64

In [215]:
type(test2.count())
test3=test2.count()
#test3.iloc[[0],]
test3.iloc[0]
test3.index[0]

11000

In [228]:
type(test3.iloc[0])
type(test3.index[0])
job_dict = {'1차 산업':0, '제조업':0, '정보통신산업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동':0}
job_dict

{'1차 산업': 0,
 '제조업': 0,
 '정보통신산업': 0,
 '자원': 0,
 '건설업': 0,
 '도매 및 소매업': 0,
 '숙박 및 음식점': 0,
 '운수 및 창고업, 임대': 0,
 '서비스업': 0,
 '부동산업': 0,
 '가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동': 0}

In [257]:
#for i in range(len(test3.index)):
#    print(test3.index[i])

print(test3.index[10])
a=0
if int(test3.index[10]) in range(11000,-143108):
    a+=1
    
a

20100

0

In [277]:
#업종코드번호
test3.index[938]
#수
#test3.iloc[938]
#test3.index
#[i for i in test3.index]
if int(i) in range(151101, 210906) or int(i) in range(222101, 369909) or int(i) in range(381003, 381008):

[11000,
 11001,
 12101,
 12102,
 12201,
 12202,
 12203,
 12204,
 14300,
 15000,
 20100,
 20200,
 20300,
 51101,
 51102,
 51104,
 51200,
 52101,
 52102,
 52103,
 52104,
 52200,
 52300,
 101000,
 131000,
 132003,
 141001,
 141002,
 141003,
 141004,
 142902,
 143103,
 151101,
 151102,
 151200,
 151301,
 151302,
 151400,
 152001,
 152002,
 153101,
 153102,
 153103,
 153104,
 153105,
 153202,
 153300,
 154101,
 154102,
 154200,
 154300,
 154400,
 154501,
 154502,
 154509,
 154801,
 154802,
 154803,
 154804,
 154805,
 154901,
 154902,
 154903,
 154904,
 154909,
 155103,
 155201,
 155203,
 155300,
 155401,
 155402,
 160000,
 171101,
 171102,
 171103,
 171104,
 171105,
 171106,
 171107,
 171108,
 171109,
 171112,
 171200,
 172101,
 172102,
 172103,
 172109,
 172200,
 172300,
 172901,
 172902,
 172903,
 173001,
 173002,
 173003,
 173004,
 173005,
 173006,
 173009,
 181101,
 181103,
 181109,
 181201,
 181202,
 181203,
 181204,
 182001,
 191100,
 191200,
 191201,
 192001,
 193001,
 193009,
 201001,
 201002,
 201009,
 202101,
 202102,
 202200,
 202201,
 202901,
 202902,
 202903,
 210101,
 210102,
 210104,
 210200,
 210201,
 210901,
 210902,
 210903,
 221100,
 221200,
 221300,
 221900,
 222101,
 222102,
 222201,
 222202,
 223001,
 231001,
 231002,
 232100,
 232200,
 241101,
 241102,
 241105,
 241106,
 241200,
 241301,
 241302,
 242101,
 242102,
 242201,
 242202,
 242203,
 242204,
 242301,
 242302,
 242303,
 242309,
 242401,
 242402,
 242403,
 242901,
 242902,
 242903,
 242904,
 243000,
 251101,
 251102,
 251901,
 251902,
 252101,
 252102,
 252103,
 252200,
 252301,
 252302,
 252400,
 252901,
 252902,
 252909,
 261001,
 261002,
 269100,
 269200,
 269300,
 269401,
 269402,
 269501,
 269502,
 269503,
 269504,
 269601,
 269901,
 269902,
 269903,
 269904,
 271101,
 271102,
 271201,
 271202,
 271901,
 271902,
 272100,
 272200,
 272300,
 272900,
 273101,
 273102,
 273200,
 281100,
 281101,
 281102,
 281201,
 281202,
 281300,
 289101,
 289102,
 289201,
 289202,
 289301,
 289302,
 289303,
 289901,
 289902,
 289903,
 291100,
 291200,
 291300,
 291401,
 291501,
 291502,
 291901,
 291902,
 292100,
 292201,
 292202,
 292203,
 292300,
 292400,
 292500,
 292600,
 292700,
 292901,
 292902,
 292903,
 293001,
 293002,
 293003,
 293004,
 293009,
 300100,
 300101,
 300201,
 300202,
 311001,
 311002,
 312000,
 313001,
 313002,
 314000,
 315001,
 315002,
 319001,
 319002,
 321000,
 321001,
 322001,
 322002,
 323001,
 331100,
 331101,
 331102,
 331201,
 331300,
 332000,
 332001,
 333000,
 341001,
 342000,
 343000,
 351101,
 351102,
 351103,
 351104,
 351200,
 352000,
 353000,
 359100,
 359200,
 361001,
 361002,
 361003,
 369101,
 369102,
 369200,
 369301,
 369302,
 369401,
 369402,
 369409,
 369501,
 369502,
 369503,
 369504,
 369901,
 369902,
 369903,
 369904,
 369905,
 369906,
 371000,
 372000,
 381000,
 401000,
 402001,
 402002,
 403000,
 451101,
 451102,
 451103,
 451104,
 451200,
 451300,
 451400,
 452101,
 452102,
 452103,
 452104,
 452105,
 452106,
 452107,
 452108,
 452109,
 452111,
 452125,
 452200,
 453000,
 501101,
 501201,
 501202,
 501301,
 501302,
 501303,
 503001,
 503002,
 503003,
 503004,
 503005,
 504001,
 504002,
 505001,
 505002,
 511111,
 511112,
 511113,
 511114,
 511115,
 511116,
 511117,
 511118,
 511119,
 511120,
 511121,
 512111,
 512112,
 512113,
 512119,
 512120,
 512131,
 512132,
 512133,
 512140,
 512190,
 512211,
 512212,
 512214,
 512215,
 512221,
 512222,
 512223,
 512224,
 512231,
 512232,
 512233,
 512234,
 512235,
 512236,
 512241,
 512242,
 512243,
 512244,
 512251,
 512252,
 512260,
 512271,
 512272,
 512273,
 512274,
 512279,
 512281,
 512282,
 512283,
 512284,
 512285,
 512286,
 512287,
 512288,
 512289,
 513111,
 513112,
 513113,
 513114,
 513119,
 513121,
 513130,
 513141,
 513150,
 513191,
 513211,
 513221,
 513230,
 513241,
 513250,
 513261,
 513263,
 513271,
 513272,
 513290,
 513291,
 513311,
 513312,
 513313,
 513320,
 513330,
 513410,
 513421,
 513422,
 513430,
 513911,
 513912,
 513913,
 513920,
 513921,
 513931,
 513933,
 513934,
 513941,
 513942,
 513950,
 513960,
 513991,
 513992,
 514111,
 514112,
 514121,
 514122,
 514130,
 514210,
 514220,
 514231,
 514232,
 514239,
 514240,
 514250,
 514291,
 514292,
 514311,
 514312,
 514320,
 514330,
 514350,
 514361,
 514366,
 514370,
 514380,
 514392,
 514393,
 514911,
 514912,
 514919,
 514920,
 514930,
 514940,
 514950,
 514961,
 514962,
 514963,
 514969,
 514971,
 514990,
 515010,
 515020,
 515030,
 515040,
 515050,
 515051,
 515060,
 515070,
 515080,
 515090,
 519111,
 519112,
 519113,
 519910,
 519991,
 519992,
 521100,
 521910,
 521911,
 521991,
 521992,
 522011,
 522012,
 522020,
 522031,
 522039,
 522040,
 522050,
 522061,
 522063,
 522071,
 522080,
 522091,
 522092,
 522094,
 522095,
 522096,
 522098,
 522099,
 522101,
 522109,
 523111,
 523116,
 523120,
 523131,
 523132,
 523211,
 523214,
 523221,
 523231,
 523241,
 523242,
 523252,
 523260,
 523291,
 523292,
 523293,
 523311,
 523312,
 523314,
 523321,
 523323,
 523330,
 523331,
 523332,
 523341,
 523352,
 523361,
 523363,
 523370,
 523390,
 523391,
 523411,
 523412,
 523413,
 523421,
 523422,
 523491,
 523492,
 523494,
 523499,
 523511,
 523512,
 523520,
 523531,
 523532,
 523541,
 523550,
 523612,
 523621,
 523630,
 523910,
 523922,
 523923,
 523931,
 523932,
 523940,
 523951,
 523952,
 523953,
 523961,
 523970,
 523980,
 523981,
 523982,
 523983,
 523984,
 523986,
 523987,
 523988,
 523989,
 523990,
 523992,
 523993,
 523994,
 523995,
 523996,
 523999,
 524010,
 524020,
 524091,
 524092,
 525101,
 525102,
 525200,
 525300,
 525910,
 551001,
 551002,
 551003,
 551004,
 551005,
 551009,
 552101,
 552102,
 552103,
 552104,
 552105,
 552107,
 552108,
 552109,
 552118,
 552201,
 552202,
 552203,
 552204,
 552205,
 552206,
 552207,
 552208,
 552209,
 552301,
 552303,
 552305,
 601000,
 602101,
 602102,
 602103,
 602109,
 602201,
 602203,
 602204,
 602205,
 602206,
 602209,
 602301,
 602302,
 602303,
 602304,
 602305,
 602306,
 602307,
 602308,
 602309,
 603000,
 611001,
 611002,
 611003,
 611004,
 612000,
 621000,
 630101,
 630102,
 630201,
 630202,
 630301,
 630302,
 630303,
 630304,
 630309,
 630401,
 630402,
 630403,
 630404,
 630500,
 630600,
 630701,
 630702,
 630901,
 630902,
 630903,
 630909,
 641200,
 641201,
 642001,
 642002,
 642003,
 642004,
 659201,
 659202,
 659203,
 659205,
 659206,
 659900,
 659901,
 659902,
 660100,
 660101,
 660301,
 660302,
 660303,
 671201,
 671202,
 671900,
 672000,
 701101,
 701102,
 701103,
 701104,
 701201,
 701202,
 701203,
 701204,
 701300,
 701400,
 701501,
 701502,
 701700,
 702001,
 702002,
 702003,
 703011,
 703012,
 703021,
 703022,
 703023,
 703024,
 711100,
 711200,
 712100,
 712200,
 712201,
 713001,
 713002,
 713003,
 721000,
 722000,
 722004,
 723000,
 724000,
 725000,
 729000,
 730000,
 741101,
 741104,
 741106,
 741107,
 741109,
 741110,
 741201,
 741202,
 741203,
 741204,
 741300,
 741400,
 741401,
 741402,
 742101,
 742102,
 742103,
 742104,
 742105,
 742106,
 742201,
 742202,
 742209,
 743001,
 743002,
 749100,
 749101,
 749200,
 749300,
 749400,
 749401,
 749500,
 749601,
 749602,
 749603,
 749604,
 749605,
 749609,
 749901,
 749902,
 749903,
 749904,
 749905,
 749906,
 749907,
 749909,
 749910,
 749911,
 749921,
 749927,
 749934,
 749939,
 749940,
 804101,
 809001,
 809002,
 809003,
 809004,
 809005,
 809006,
 809007,
 809009,
 809010,
 809011,
 809012,
 851101,
 851102,
 851103,
 851201,
 851202,
 851203,
 851204,
 851207,
 851209,
 851211,
 851212,
 851219,
 851901,
 851904,
 851906,
 851907,
 851908,
 852000,
 900100,
 900101,
 900102,
 900200,
 900201,
 900300,
 900900,
 921100,
 921200,
 921301,
 921302,
 921303,
 921304,
 921401,
 921402,
 921403,
 921404,
 921501,
 921502,
 921503,
 921901,
 921902,
 921903,
 921904,
 922101,
 922102,
 922103,
 922104,
 922105,
 922201,
 922202,
 922203,
 923100,
 923200,
 923300,
 924101,
 924102,
 924200,
 924302,
 924303,
 924304,
 924305,
 924306,
 924307,
 924308,
 924309,
 924310,
 924901,
 924902,
 924903,
 924904,
 924905,
 924906,
 924907,
 924908,
 924909,
 924911,
 930100,
 930203,
 930205,
 930301,
 930302,
 930901,
 930902,
 930903,
 930904,
 930908,
 930911,
 930912,
 930913,
 930914,
 930915,
 930916,
 930917,
 930919,
 930920,
 930921,
 930925,
 940100,
 940200,
 940301,
 940500,
 940600,
 940903,
 940904,
 940907,
 940908,
 940909,
 940911,
 940912,
 940915,
 940916,
 940917,
 940918,
 940919,
 950000,
 950001,
 950002,
 999999,
 ' ',
 '101000',
 '11000',
 '11001',
 '12101',
 '12102',
 '12103',
 '12201',
 '12202',
 '12203',
 '12204',
 '131000',
 '132002',
 '132003',
 '141001',
 '141002',
 '141003',
 '141004',
 '142101',
 '142102',
 '142902',
 '142909',
 '14300',
 '143200',
 '15000',
 '151101',
 '151102',
 '151105',
 '151200',
 '151301',
 '151302',
 '151400',
 '152001',
 '152002',
 '153101',
 '153102',
 '153103',
 '153104',
 '153202',
 '153300',
 '154101',
 '154102',
 '154200',
 '154300',
 '154400',
 '154501',
 '154502',
 '154509',
 '154801',
 '154802',
 '154803',
 '154804',
 '154805',
 '154901',
 '154902',
 '154903',
 '154904',
 '154906',
 '154909',
 '155101',
 '155102',
 '155103',
 ...]

In [292]:
#index 2

job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
#인덱스(업종) 별 합 반복
for i in range(len(test3.index)):
    try:
        if int(test3.index[i]) in range(11000,151104):
            job_dict['1차 산업']+=test3.iloc[i]            
        if int(test3.index[i]) in range(151104,369909):
            job_dict['제조업']+=test3.iloc[i]              
        if int(test3.index[i]) in range(371000,410001):
            job_dict['자원']+=test3.iloc[i]           
        if int(test3.index[i]) in range(451101,453001):
            job_dict['건설업']+=test3.iloc[i]                
        if int(test3.index[i]) in range(501101,525913):
            job_dict['도매 및 소매업']+=test3.iloc[i]      
        if int(test3.index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test3.iloc[i]  
        if int(test3.index[i]) in range(601000,630903):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i] 
        if int(test3.index[i]) in range(630903,672002):
            job_dict['서비스업']+=test3.iloc[i]
        if int(test3.index[i]) in range(701101,703025):
            job_dict['부동산업']+=test3.iloc[i]
        if int(test3.index[i]) in range(711100,713007):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i]          
        if int(test3.index[i]) in range(721000,729001):
            job_dict['정보통신업']+=test3.iloc[i]   
        if int(test3.index[i]) in range(741101,930922):
            job_dict['서비스업']+=test3.iloc[i] 
        if int(test3.index[i]) in range(930925,950003):
            job_dict['달리 분류되지 않은 개인 서비스업']+=test3.iloc[i]
        if int(test3.index[i]) ==999999:
            continue
    except:
        continue
#test3.iloc[0]
#test3.index[0]
job_dict

{'1차 산업': 3806,
 '제조업': 91079,
 '자원': 1792,
 '건설업': 78219,
 '도매 및 소매업': 78985,
 '숙박 및 음식점': 7358,
 '운수 및 창고업, 임대': 15904,
 '서비스업': 62635,
 '부동산업': 23062,
 '정보통신업': 14048,
 '달리 분류되지 않은 개인 서비스업': 1286}

In [286]:
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
#인덱스 
#print(test3.iloc[[0],].index[i])

job_dict = {'1차 산업':0, '제조업':0, '정보통신업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동':0}
#인덱스(업종) 별 합 반복
for i in range(len(test3.index)):
    try:
        if int(test3.index[i]) in range(11000,143108):
            job_dict['1차 산업']+=test3.iloc[i]
        if int(test3.index[i]) in range(151101, 210906) or int(i) in range(222101, 369909) or int(i) in range(381003, 381008):
            job_dict['제조업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(221100, 221901) or int(i) in range(641200,642006) or int(i) in range(721000,743006) or int(i) in range(921301, 921307) or int(i) in range(921501, 921506):
            job_dict['정보통신업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(371000, 372004) or int(i) in range(101000, 410002) or int(i) in range(900100,900301):
            job_dict['자원']+=test3.iloc[i]
        if int(test3.index[i]) in range(451102, 453001):
            job_dict['건설업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(501101,525912):
            job_dict['도매 및 소매업']+=test3.iloc[i]  
        if int(test3.index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test3.iloc[i]  
        if int(test3.index[i]) in range(601000,641202) or int(i) in range(712200,713007) or int(i) in range(749100,749943):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i]  
        if int(test3.index[i]) in range(659201,525912) or int(i) in range(804101,852001) or int(i) in range(921401, 921408) or int(i) in range(921901,950001):
            job_dict['서비스업']+=test3.iloc[i]
        if int(test3.index[i]) in range(701101,703025):
            job_dict['부동산업']+=test3.iloc[i]
        if int(test3.index[i]) ==950001:
            job_dict['가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동']+=test3.iloc[i]
        if int(test3.index[i]) ==999999:
            continue
    except:
        continue
#test3.iloc[0]
#test3.index[0]
job_dict

In [ ]:
test=pd.read_csv("G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 3월.csv", encoding='CP949')

In [ ]:
test1,iloc[:,[13]].count()

In [139]:

#####################################################################################################33


#인덱스 
#print(test3.iloc[[0],].index[i])

job_dict = {'1차 산업':0, '제조업':0, '정보통신업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동':0}
#인덱스(업종) 별 합 반복
for i in range(len(test3.index)):
    try:
        if int(test3.index[i]) in range(11000,143108):
            job_dict['1차 산업']+=test3.iloc[i]
        if int(test3.index[i]) in range(151101, 210906) or int(i) in range(222101, 369909) or int(i) in range(381003, 381008):
            job_dict['제조업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(221100, 221901) or int(i) in range(641200,642006) or int(i) in range(721000,743006) or int(i) in range(921301, 921307) or int(i) in range(921501, 921506):
            job_dict['정보통신업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(371000, 372004) or int(i) in range(101000, 410002) or int(i) in range(900100,900301):
            job_dict['자원']+=test3.iloc[i]
        if int(test3.index[i]) in range(451102, 453001):
            job_dict['건설업']+=test3.iloc[i]        
        if int(test3.index[i]) in range(501101,525912):
            job_dict['도매 및 소매업']+=test3.iloc[i]  
        if int(test3.index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test3.iloc[i]  
        if int(test3.index[i]) in range(601000,641202) or int(i) in range(712200,713007) or int(i) in range(749100,749943):
            job_dict['운수 및 창고업, 임대']+=test3.iloc[i]  
        if int(test3.index[i]) in range(659201,525912) or int(i) in range(804101,852001) or int(i) in range(921401, 921408) or int(i) in range(921901,950001):
            job_dict['서비스업']+=test3.iloc[i]
        if int(test3.index[i]) in range(701101,703025):
            job_dict['부동산업']+=test3.iloc[i]
        if int(test3.index[i]) ==950001:
            job_dict['가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동']+=test3.iloc[i]
        if int(test3.index[i]) ==999999:
            continue
    except:
        continue
#test3.iloc[0]
#test3.index[0]
job_dict

사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
11000       254
11001        80
12101         8
12102         4
12201        49
          ...
950000      259
950001        7
950002        1
980000        3
999999    64335
Name: 사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6), Length: 1903, dtype: int64

In [ ]:

#전체 불러오기()
#[참고]

#여러 데이터를 하나로
years = range(2018,2021)
momths= range(1,12)
pieces=[]
columns = ['name', 'gender', 'birthcount']
my_path = 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\'
try: 
    for year in years:
        path = my_path+'국민연금 가입 사업장 내역 {}년'.format(year)
        columns = ['name', 'gender', 'birthcount']
        for month in months:
            path = path+'\\yob{}.txt'.format(year)
            df = pd.read_csv(path, names=columns)
            df['year']=year
            pieces.append(df)
            allData = pd.concat(pieces, ignore_index=True)
except:
    continue
len(allData)
allData.head(2)