# excel데이터 SQL로 옮기기

In [24]:
#우리가 저장한 excel 데이터를 가져와서 준비한다.

import pandas as pd
import pymysql

data = pd.read_excel("./코로나 지역별 누적인구.xlsx")
print(data)

       지역   누적 인구
0   검역자세히   5,738
1      제주   2,494
2      서울  76,245
3      인천  11,305
4      광주   3,920
5      광주   3,920
6      경북   6,802
7      부산  10,999
8      대구  13,192
9      강원   5,242
10     경기  68,158
11     전남   2,479
12     충북   4,953
13     충남   6,547
14     충남   6,547
15     대전   5,413
16     세종     944
17     전북   3,396
18     경남   9,615
19     울산   3,997

In [25]:
#SQL과 연결시켜주기
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='coronadb',charset = 'utf8')
#원격 마우스가 생겼다.
cur = conn.cursor()

In [26]:
cur.execute('create table if not exists corona19(지역이름 char(5), 누적_인구 char(7))')

0

In [ ]:
#테이블 만들고 저장하기!
conn.commit()

In [27]:
지역이름_v=data['지역']
누적_인구_v=data['누적 인구']

In [28]:
지역이름 = []
for i in range(len(지역이름_v)):
    지역이름.append(지역이름_v[i])
print(지역이름)

['검역자세히', '제주', '서울', '인천', '광주', '광주', '경북', '부산', '대구', '강원', '경기', '전남', '충북', '충남', '충남', '대전', '세종', '전북', '경남', '울산']

In [29]:
누적_인구 = []
for i in range(len(누적_인구_v)):
    누적_인구.append(누적_인구_v[i])
print(누적_인구)

['5,738', '2,494', '76,245', '11,305', '3,920', '3,920', '6,802', '10,999', '13,192', '5,242', '68,158', '2,479', '4,953', '6,547', '6,547', '5,413', '944', '3,396', '9,615', '3,997']

In [31]:
#반복문을 통해서 테이블에 넣어주기

for i in range(1,len(지역이름)):
    a =지역이름.loc[i][0]
    b =누적_인구.loc[i][1]
    cur.execute(f"INSERT INTO corona19 VALUES({a}, {b}")

In [32]:
#처음에는 반복 노동 

# cur.execute("INSERT INTO corona19 VALUES( '검역자세히' , '5,738' )")
# cur.execute("INSERT INTO corona19 VALUES( '제주' , '2,494' )")
# cur.execute("INSERT INTO corona19 VALUES( '서울' , '76,245')")
# cur.execute("INSERT INTO corona19 VALUES( '인천' , '11,305')")
# cur.execute("INSERT INTO corona19 VALUES( '광주' ,  '3,920')")
# cur.execute("INSERT INTO corona19 VALUES( '광주' ,  '3,920')")
# cur.execute("INSERT INTO corona19 VALUES( '경북' ,  '6,802')")
# cur.execute("INSERT INTO corona19 VALUES( '부산' , '10,999')")
# cur.execute("INSERT INTO corona19 VALUES( '대구' , '13,192')")
# cur.execute("INSERT INTO corona19 VALUES( '강원' ,  '5,242')")
# cur.execute("INSERT INTO corona19 VALUES( '경기' , '68,158')")
# cur.execute("INSERT INTO corona19 VALUES( '전남' ,  '2,479')")
# cur.execute("INSERT INTO corona19 VALUES( '충북' , '4,953' )")
# cur.execute("INSERT INTO corona19 VALUES( '충남' ,  '6,547')")
# cur.execute("INSERT INTO corona19 VALUES( '충남' ,  '6,547')")
# cur.execute("INSERT INTO corona19 VALUES( '대전' , '5,413' )")
# cur.execute("INSERT INTO corona19 VALUES( '세종' ,   '944' )")
# cur.execute("INSERT INTO corona19 VALUES( '전북' ,  '3,396')")
# cur.execute("INSERT INTO corona19 VALUES( '경남' , '9,615' )")
# cur.execute("INSERT INTO corona19 VALUES( '울산' , '3,997' )")

1

In [33]:
#끝날때만 두개 동시에
conn.commit()
#끝내기를 해야 서버가 닫힌다!
conn.close()

# 일주일치 신규확진자 저장하기

In [ ]:

import pandas as pd
import pymysql

data = pd.read_excel("./week.xlsx")
print(data)

conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='coronadb',charset = 'utf8')
cur = conn.cursor()


#테이블을 만들자
cur.execute("CREATE TABLE IF not EXISTS corona_week(날짜 varchar(10), 국내발생 int(8),해외유입  int(4), 신규확진 int(8))")
#만들 테이블을 저장해 주자
conn.commit()

In [ ]:
for i in range(1,len(data)):
    a =data.loc[i][0]
    b =data.loc[i][1]
    c =data.loc[i][2]
    d =data.loc[i][3]
    cur.execute(f"INSERT INTO corona_week VALUES('{a}', {b}, {c}, {d})")

conn.commit()

conn.close()