In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [168]:
#테스트#####################################

In [2]:
"""
3. 데이터2 : 업종별 코로나 이전과 이후 총 사업장 수 추이분석

 구현목표
       - 연도별 총 신규 사업장 가입수 (선/바) 그래프 구현
       - 월별(업종별 증감폭 확인) 총 신규 사업장 가입수 (선/바) 그래프 구현
       - 신규 및 폐업 사업장 선별 및 그래프 구현(월별, 연도별 미정)
"""

'\n\x0b3. 데이터2 : 업종별 코로나 이전과 이후 총 사업장 수 추이분석\x0b\n\n 구현목표\n       - 연도별 총 신규 사업장 가입수 (선/바) 그래프 구현\n       - 월별(업종별 증감폭 확인) 총 신규 사업장 가입수 (선/바) 그래프 구현\n       - 신규 및 폐업 사업장 선별 및 그래프 구현(월별, 연도별 미정)\n'

In [43]:
#국민연금 가입 사업장 데이터 불러오기
test=pd.read_csv("./국민연금 가입 사업장 내역 2021년 7월.csv", encoding='CP949')

C:\Users\admin\Anaconda3\envs\SSAC\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [44]:
test.head()
#type(test)

,자료생성년월(자격마감일(사유발생일이 속하는 달의 다음달 15일)까지 신고분 반영),사업장명,사업자등록번호,사업장가입상태코드 1 등록 2 탈퇴,우편번호,사업장지번상세주소,사업장도로명상세주소,고객법정동주소코드,고객행정동주소코드,법정동주소광역시도코드,...,사업장형태구분코드 1 법인 2 개인,사업장업종코드,사업장업종코드명,적용일자,재등록일자,탈퇴일자,가입자수(고지인원 수 포함),당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음 상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6. 5240000원(2021.7.1.기준) ),신규취득자수(납부재개 포함 전달 고지대상자와 비교하므로 실제 취득자와 상이할 수 있음(초일취득 고지 초일이 아닌경우. 미고지(다음달 취득자수에 반영)),상실가입자수(납부예외 포함 전달 고지대상자와 비교하므로 실제 퇴사자와 상이할 수 있음(초일이 아닌 상실자는 다음달 상실자수에 반영) 국민연금법 제6조 8조 동법 시행령 제18조에 의거 60세 도달하거나 퇴직연금수급자 조기노령연금 수급권을 취득한 자는 가입대상에서 제외되며 18세미만 기초수급자는 본인희망에 의해 제외될 수 있음)
0,2021-06,대신정보통신(주),133850,1,08501,서울특별시 금천구 가산동,서울특별시 금천구 가산디지털1로,1154510100,1154551000,11,...,1,722000,응용 소프트웨어 개발 및 공급업,1988-01-01,0001-01-01,0001-01-01,550,176430180,16,18
1,2021-06,한성인터내쇼날(주),102812,1,22843,인천광역시 서구 가좌동,인천광역시 서구 건지로,2826011200,2826058000,28,...,1,519111,상품 종합 도매업,1988-01-01,0001-01-01,0001-01-01,4,966760,0,0
2,2021-06,세종실업(주),114810,1,06339,서울특별시 강남구 일원동,서울특별시 강남구 개포로140길,1168011400,1168073000,11,...,1,452111,시설물 유지관리 공사업,1988-01-01,0001-01-01,0001-01-01,10,2088060,0,0
3,2021-06,(주)경농,214810,1,06627,서울특별시 서초구 서초동,서울특별시 서초구 효령로77길,1165010800,1165051000,11,...,1,242102,화학 살균ㆍ살충제 및 농업용 약제 제조업,1988-01-01,0001-01-01,0001-01-01,321,106488220,3,5
4,2021-06,에이제이주식회사,312810,1,31402,충청남도 아산시 영인면,충청남도 아산시 영인면 아산호로496번길,4420037028,4420037028,44,...,1,210101,신문용지 제조업,1988-01-01,0001-01-01,0001-01-01,84,25965720,2,2

In [40]:
test.columns

Index(['자료생성년월(자격마감일(사유발생일이 속하는 달의 다음달 15일)까지 신고분 반영)', ' 사업장명', ' 사업자등록번호',
       ' 사업장가입상태코드 1:등록2:탈퇴', ' 우편번호', ' 사업장지번상세주소', ' 사업장도로명상세주소',
       ' 고객법정동주소코드', ' 고객행정동주소코드', ' 법정동주소광역시도코드', ' 법정동주소광역시시군구코드',
       ' 법정동주소광역시시군구읍면동코드', ' 사업장형태구분코드 1:법인2:개인', ' 사업장업종코드', ' 사업장업종코드명',
       ' 적용일자', ' 재등록일자', ' 탈퇴일자', ' 가입자수(고지인원 수 포함)',
       ' 당월고지금액(※ 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음 : 상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준))',
       ' 신규취득자수(납부재개 포함 : ※ 전달 고지대상자와 비교하므로 실제 취득자와 상이할 수 있음(초일취득 고지 초일이 아닌경우. 미고지(다음달 취득자수에 반영))',
       ' 상실가입자수(납부예외 포함 : ※ 전달 고지대상자와 비교하므로 실제 퇴사자와 상이할 수 있음(초일이 아닌 상실자는 다음달 상실자수에 반영) 국민연금법 제6조 8조 동법 시행령 제18조에 의거 60세 도달하거나 퇴직연금수급자 조기노령연금 수급권을 취득한 자는 가입대상에서 제외되며 18세미만 기초수급자는 본인희망에 의해 제외될 수 있음)'],
      dtype='object')

In [46]:
test[test[' 사업장가입상태코드 1 등록 2 탈퇴']==1]

,자료생성년월(자격마감일(사유발생일이 속하는 달의 다음달 15일)까지 신고분 반영),사업장명,사업자등록번호,사업장가입상태코드 1 등록 2 탈퇴,우편번호,사업장지번상세주소,사업장도로명상세주소,고객법정동주소코드,고객행정동주소코드,법정동주소광역시도코드,...,사업장형태구분코드 1 법인 2 개인,사업장업종코드,사업장업종코드명,적용일자,재등록일자,탈퇴일자,가입자수(고지인원 수 포함),당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음 상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6. 5240000원(2021.7.1.기준) ),신규취득자수(납부재개 포함 전달 고지대상자와 비교하므로 실제 취득자와 상이할 수 있음(초일취득 고지 초일이 아닌경우. 미고지(다음달 취득자수에 반영)),상실가입자수(납부예외 포함 전달 고지대상자와 비교하므로 실제 퇴사자와 상이할 수 있음(초일이 아닌 상실자는 다음달 상실자수에 반영) 국민연금법 제6조 8조 동법 시행령 제18조에 의거 60세 도달하거나 퇴직연금수급자 조기노령연금 수급권을 취득한 자는 가입대상에서 제외되며 18세미만 기초수급자는 본인희망에 의해 제외될 수 있음)
0,2021-06,대신정보통신(주),133850,1,08501,서울특별시 금천구 가산동,서울특별시 금천구 가산디지털1로,1154510100,1154551000,11,...,1,722000,응용 소프트웨어 개발 및 공급업,1988-01-01,0001-01-01,0001-01-01,550,176430180,16,18
1,2021-06,한성인터내쇼날(주),102812,1,22843,인천광역시 서구 가좌동,인천광역시 서구 건지로,2826011200,2826058000,28,...,1,519111,상품 종합 도매업,1988-01-01,0001-01-01,0001-01-01,4,966760,0,0
2,2021-06,세종실업(주),114810,1,06339,서울특별시 강남구 일원동,서울특별시 강남구 개포로140길,1168011400,1168073000,11,...,1,452111,시설물 유지관리 공사업,1988-01-01,0001-01-01,0001-01-01,10,2088060,0,0
3,2021-06,(주)경농,214810,1,06627,서울특별시 서초구 서초동,서울특별시 서초구 효령로77길,1165010800,1165051000,11,...,1,242102,화학 살균ㆍ살충제 및 농업용 약제 제조업,1988-01-01,0001-01-01,0001-01-01,321,106488220,3,5
4,2021-06,에이제이주식회사,312810,1,31402,충청남도 아산시 영인면,충청남도 아산시 영인면 아산호로496번길,4420037028,4420037028,44,...,1,210101,신문용지 제조업,1988-01-01,0001-01-01,0001-01-01,84,25965720,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534120,2021-06,서귀포시산림조합/(일용) 2021년 공익림 가꾸기 (성산) 사업,616820,1,63641,제주특별자치도 서귀포시 성산읍,,5013025924,5013025924,50,...,1,20100,임업용 종묘 생산업,2021-05-18,0001-01-01,0001-01-01,21,5424280,21,0
534121,2021-06,주식회사대산이엔씨-(일용)전공장 전기작업 정비용역 연간단가(21/1/1~22/12/31),505812,1,59614,전라남도 여수시 낙포동,전라남도 여수시 상암로,4613014800,4613082000,46,...,1,452104,배관 및 냉ㆍ난방 공사업,2021-01-01,0001-01-01,0001-01-01,3,1139220,3,0
534122,2021-06,참빛파워텍주식회사/상용/양주S/S 전력구 소방설비 설치공사,617860,1,11525,경기도 양주시 장흥면,경기도 양주시 장흥면 일영로,4163034027,4163034027,41,...,1,315001,일반용 전기 조명장치 제조업,2021-04-12,0001-01-01,0001-01-01,4,1055600,4,0
534123,2021-06,강산종합건설（주）/일용/운학동 다목적구장 설치공사,135811,1,16884,경기도 용인시 처인구 모현읍,,4146125327,4146125327,41,...,1,451200,기타 토목 시설물 건설업,2021-04-26,0001-01-01,0001-01-01,4,823500,4,0
534124,2021-06,홍우기술산업(주)/일용/영흥 #1~4 석회석하역부두 보강공사,120860,1,23120,인천광역시 옹진군 영흥면,인천광역시 옹진군 영흥면 영흥남로293번길,2872036021,2872036021,28,...,1,452112,보링 그라우팅 및 관정 공사업,2021-04-19,0001-01-01,0001-01-01,6,1507500,6,6

In [ ]:
#탈퇴한 사업장 제외하고 보기
test=test[test['사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1)']==1]

In [8]:
#앞의 :는 전체행을 쓰겠다는 의미
#뒤는 몇번째 열을 쓰겠다는 의미

#원하는 열만 출력
test1=test.iloc[:,[1,3,6,9,12,13,14,18,20,21]]
test1

,사업장명 WKPL_NM\tVARCHAR(100),사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1),사업장도로명상세주소 WKPL_ROAD_NM_DTL_ADDR VARCHAR(300),법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2),사업장형태구분코드 1:법인2:개인 WKPL_STYL_DVCD\tVARCHAR(1),사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6),사업장업종코드명 VLDT_VL_KRN_NM VARCHAR(200),가입자수 JNNGP_CNT INTEGER,신규취득자수 NW_ACQZR_CNT\tINTEGER,상실가입자수 LSS_JNNGP_CNT\tINTEGER
0,우성기전(주),1,경기도 광주시 도척면 도척윗로,41,1,292201,동력식 수지 공구 제조업,5,0,0
1,서능공원묘지운영회(재),1,,41,1,701700,화장터 운영 묘지 분양 및 관리업,10,0,0
2,노들새마을금고,1,서울특별시 동작구 만양로,11,1,659202,신용조합,11,0,1
3,유창성업(주),1,인천광역시 서구 갑문2로,28,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,30,4,0
4,희성전자(주),1,서울특별시 용산구 독서당로14길,11,1,701201,비주거용 건물 임대업(점포 자기땅),526,1,17
...,...,...,...,...,...,...,...,...,...,...
471659,（주）동부/일용/S-PJT 아스팔트 출하대-기/배/철 공사,1,울산광역시 남구 신여천로,31,1,452104,배관 및 냉ㆍ난방 공사업,8,8,0
471660,(주)정밀기공-(일용)하남선(상일~검단산)복선전철 3공구건설(소방공사),1,경기도 하남시 덕풍북로32번길,41,1,452101,미장 타일 및 방수 공사업,4,4,0
471661,(주)서환산업-(일용)태안IGCC탈질설비 구매계약 중 탈질설비 설치공사,1,충청남도 태안군 원북면 발전로,44,1,289302,일반 철물 제조업,3,3,1
471662,주식회사경동이앤에스/일용/S-OIL과 ONSAN TANK TERMINAL간 연결배관...,1,,31,1,452104,배관 및 냉ㆍ난방 공사업,31,31,4
471663,한일기전주식회사-(일용)화학 여수 5만톤 용수 TANK 전기계장공사,1,전라남도 여수시 산단중앙로,46,1,452104,배관 및 냉ㆍ난방 공사업,6,6,1

In [9]:
# 법정동주소광역시도코드
"""
참조 :https://www.code.go.kr/stdcode/regCodeL.do

강원도 : 42
경기도 : 41
경상남도 : 48
경상북도 47
광주광역시 29
대구광역시 : 27
대전광역시 : 30
부산광역시 26
서울특별시 : 11
세종특별자치시 36
울산광역시 :31
인천광역시 : 28
전라남도 : 46
전라북도 : 45
제주특별자치도 : 50
충청남도 :  44
충청북도 : 43
"""
# 법정동주소광역시도코드 리스트
local_list=[42, 41, 48, 47, 29, 27, 30, 26, 11, 36, 31, 28, 46, 45, 50, 44, 43]
local_result = []

#2021년 8월 지역별 사업장 갯수 
for i in local_list:
    local_result.append(len(test1[test1['법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)'] == i]))
local_result

[12809,
 119816,
 26327,
 23582,
 11825,
 15320,
 11192,
 26435,
 116608,
 2447,
 8248,
 21674,
 18009,
 15260,
 6746,
 19754,
 15611]

In [10]:
local_df=pd.DataFrame(local_result)

In [11]:
#이것만 사용할 것임
test.iloc[:,[9]]

        법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)
0                                                  41
1                                                  41
2                                                  11
3                                                  28
4                                                  11
...                                               ...
471659                                             31
471660                                             41
471661                                             44
471662                                             31
471663                                             46

[471664 rows x 1 columns]

In [57]:
#새로운 지역데이터 딕셔너리 생성
local_result

total_local_df={'강원도':[],
'경기도':[], 
'경상남도':[], 
'경상북도':[], 
'광주광역시':[], 
'대구광역시':[], 
'대전광역시':[],
'부산광역시':[],
'서울특별시':[],
'세종특별자치시':[],
'울산광역시':[],
'인천광역시':[],
'전라남도':[],
'전라북도':[],
'제주특별자치도':[],
'충청남도':[],
'충청북도':[]}

total_local_df=pd.DataFrame(total_local_df)

total_local_df

Empty DataFrame
Columns: [강원도, 경기도, 경상남도, 경상북도, 광주광역시, 대구광역시, 대전광역시, 부산광역시, 서울특별시, 세종특별자치시, 울산광역시, 인천광역시, 전라남도, 전라북도, 제주특별자치도, 충청남도, 충청북도]
Index: []

In [58]:
#df에 지역별 사업장 카운트 리스트 추가
total_local_df = total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)
total_local_df

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
0,15877.0,139618.0,28888.0,26587.0,13616.0,17167.0,12757.0,28872.0,126885.0,3111.0,8722.0,25380.0,22206.0,18447.0,7495.0,22708.0,18045.0

In [59]:
#모두 뽑기(응용)

#새로운 지역데이터 딕셔너리 생성
total_local_df={'강원도':[],
'경기도':[], 
'경상남도':[], 
'경상북도':[], 
'광주광역시':[], 
'대구광역시':[], 
'대전광역시':[],
'부산광역시':[],
'서울특별시':[],
'세종특별자치시':[],
'울산광역시':[],
'인천광역시':[],
'전라남도':[],
'전라북도':[],
'제주특별자치도':[],
'충청남도':[],
'충청북도':[]}

total_local_df=pd.DataFrame(total_local_df)

#월별 
years = range(2018,2022)
months= range(1,13)

total_period_list=[]

#국민연금 가입 사업장 데이터를 불러오기 위한 디렉토리 리스트 생성
for year in years:
    for month in months:
        path="./국민연금 가입 사업장 내역 {0}년 {1}월.csv".format(year, month)
        total_period_list.append(path)

In [61]:
total_period_list[:5]

['G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 3월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 4월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 5월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 6월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2018년 7월.csv']

In [62]:
total_period_list[-5:]

['G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2021년 3월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2021년 4월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2021년 5월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2021년 6월.csv',
 'G:\\SSAC\\SSAC_2021_playdata\\mini_project\\data\\국민연금 가입 사업장 내역 2021년 7월.csv']

In [63]:
#시도별 사업장 파악

# 법정동주소광역시도코드 리스트
local_list=[42, 41, 48, 47, 29, 27, 30, 26, 11, 36, 31, 28, 46, 45, 50, 44, 43]

#데이터 출력
for path in total_period_list:
        test=pd.read_csv(path, encoding='CP949',delimiter = ',',low_memory=False)
        #탈퇴한 사업장 제외하고 보기
        #9번째 열인 주소광역시코드만 추출
        each_month_data=test.iloc[:,[9]]
        #월별로 각 시도별 사업장 분포 확인
        local_result=[]
        if '법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)' in test.columns:
            test=test[test['사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1)']==1]
            print('try',path)
            for i in local_list:
                local_result.append(len(each_month_data[each_month_data['법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)'] == i]))
            #df에 지역별 사업장 카운트 리스트 추가
            total_local_df=total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)
        elif ' 법정동주소광역시도코드' in test.columns and ' 사업장가입상태코드 1:등록2:탈퇴'in test.columns:
            test=test[test[' 사업장가입상태코드 1:등록2:탈퇴']==1]
            print('except',path)
            for i in local_list:
                local_result.append(len(each_month_data[each_month_data[' 법정동주소광역시도코드'] == i]))
            #df에 지역별 사업장 카운트 리스트 추가
            total_local_df=total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)  
        else:
            print(path)
            test=test[test[' 사업장가입상태코드 1 등록 2 탈퇴']==1]
            for i in local_list:
                local_result.append(len(each_month_data[each_month_data[' 법정동주소광역시도코드'] == i]))
            #df에 지역별 사업장 카운트 리스트 추가
            total_local_df=total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)  
#2018년3월부터 2021년8월까지 각 지역별 사업장 수
total_local_df

try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 3월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 4월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 5월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 6월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 7월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 8월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 9월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 10월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 11월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 12월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 1월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 2월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 3월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 4월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 5월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 6월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 7월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 8월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 9월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 10월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 11월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 12월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 1월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 2월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 3월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 4월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 5월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 6월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 7월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 8월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 9월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 10월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 11월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 12월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 1월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 2월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 3월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 4월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 5월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 6월.csv
G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 7월.csv

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
0,12809.0,119816.0,26327.0,23582.0,11825.0,15320.0,11192.0,26435.0,116608.0,2447.0,8248.0,21674.0,18009.0,15260.0,6746.0,19754.0,15611.0
1,12601.0,119004.0,26194.0,23104.0,11895.0,15280.0,11051.0,26117.0,116534.0,2489.0,8113.0,21429.0,17678.0,15199.0,6757.0,19349.0,15381.0
2,12847.0,120237.0,26487.0,23522.0,11941.0,15499.0,11297.0,26568.0,117092.0,2450.0,8250.0,21732.0,17977.0,15511.0,6879.0,19714.0,15743.0
3,13173.0,120641.0,26618.0,23890.0,12034.0,15446.0,11286.0,26403.0,117729.0,2527.0,8247.0,21790.0,18263.0,15752.0,6862.0,19839.0,15910.0
4,13303.0,121398.0,26580.0,24011.0,11992.0,15453.0,11502.0,26483.0,118087.0,2500.0,8264.0,21983.0,18920.0,15885.0,6987.0,20192.0,16205.0
5,13543.0,121808.0,26703.0,23981.0,12018.0,15564.0,11398.0,26341.0,118622.0,2479.0,8173.0,22012.0,18887.0,15958.0,7038.0,19900.0,16094.0
6,13454.0,122945.0,26720.0,24038.0,12103.0,15625.0,11620.0,26690.0,119171.0,2530.0,8203.0,22223.0,18815.0,15865.0,7020.0,20069.0,16074.0
7,13342.0,122445.0,26621.0,23677.0,12092.0,15580.0,11357.0,26588.0,119197.0,2471.0,8166.0,22137.0,18430.0,15888.0,6947.0,19906.0,16042.0
8,13554.0,123796.0,26654.0,24040.0,12241.0,15666.0,11510.0,26667.0,119605.0,2629.0,8222.0,22269.0,18654.0,16083.0,7033.0,20119.0,16186.0
9,13645.0,124769.0,27058.0,24243.0,12271.0,15738.0,11479.0,26951.0,120208.0,2872.0,8296.0,22442.0,18801.0,16177.0,7096.0,20470.0,16519.0
10,13934.0,124813.0,27258.0,24437.0,12347.0,15672.0,11543.0,26993.0,120160.0,2747.0,8356.0,22509.0,19039.0,16569.0,7163.0,20492.0,16628.0
11,14057.0,126272.0,27604.0,25100.0,12533.0,16018.0,11721.0,27488.0,121214.0,2674.0,8555.0,22695.0,19496.0,16832.0,7434.0,20847.0,16916.0
12,13383.0,125959.0,27281.0,24691.0,12573.0,15941.0,11544.0,27217.0,121174.0,2640.0,8497.0,22622.0,19312.0,16299.0,7145.0,20459.0,16371.0
13,13244.0,124981.0,26780.0,24407.0,12557.0,15881.0,11456.0,26982.0,120764.0,2603.0,8355.0,22427.0,18797.0,15979.0,7043.0,19929.0,16101.0
14,13575.0,126402.0,27355.0,24246.0,12690.0,15927.0,11602.0,27359.0,122284.0,2682.0,8432.0,22760.0,19171.0,16430.0,7319.0,20399.0,16376.0
15,13856.0,126796.0,27523.0,24694.0,12576.0,15864.0,11701.0,27211.0,122058.0,2706.0,8447.0,22881.0,19208.0,16396.0,7291.0,20474.0,16650.0
16,14047.0,127411.0,27539.0,25135.0,12551.0,15960.0,11816.0,27253.0,122044.0,2783.0,8430.0,22936.0,19932.0,16780.0,7394.0,20935.0,16997.0
17,14236.0,128115.0,28025.0,24999.0,12709.0,16059.0,12021.0,27391.0,122865.0,2787.0,8578.0,22952.0,20183.0,16750.0,7545.0,21148.0,16943.0
18,14229.0,129071.0,28049.0,24905.0,12755.0,16151.0,11993.0,27567.0,123122.0,2824.0,8493.0,23286.0,20475.0,16920.0,7519.0,20898.0,17014.0
19,14283.0,128238.0,27726.0,24813.0,12683.0,16396.0,12023.0,27422.0,122529.0,2756.0,8469.0,23253.0,19911.0,16761.0,7466.0,20920.0,16938.0
20,14467.0,129052.0,27678.0,24830.0,12649.0,16130.0,12124.0,27497.0,123122.0,2790.0,8421.0,23236.0,19804.0,16960.0,7408.0,20934.0,16939.0
21,14635.0,130063.0,28105.0,25174.0,12784.0,16306.0,12222.0,27581.0,124022.0,2869.0,8584.0,23585.0,20212.0,16998.0,7568.0,21195.0,17215.0
22,14752.0,130031.0,28204.0,25478.0,12855.0,16300.0,12259.0,27625.0,124414.0,2861.0,8634.0,23652.0,20657.0,17314.0,7599.0,21439.0,17266.0
23,14757.0,130602.0,28620.0,25734.0,13101.0,16446.0,12090.0,27820.0,123752.0,2824.0,8715.0,23749.0,20939.0,17633.0,7565.0,21368.0,17359.0
24,14298.0,131044.0,28520.0,25421.0,13158.0,16303.0,11996.0,27747.0,124112.0,2853.0,8719.0,23721.0,20490.0,16891.0,7766.0,21300.0,16919.0
25,13849.0,129688.0,28026.0,24799.0,12837.0,16152.0,12029.0,27543.0,123200.0,2821.0,8625.0,23444.0,20205.0,16712.0,7170.0,20832.0,16736.0
26,14153.0,130071.0,28101.0,24808.0,12949.0,16200.0,12107.0,27348.0,123785.0,2733.0,8512.0,23700.0,20399.0,16789.0,7309.0,20992.0,16740.0
27,14485.0,131088.0,28061.0,25215.0,12916.0,16254.0,12153.0,27476.0,123057.0,2755.0,8574.0,23669.0,20539.0,17020.0,7259.0,21203.0,17097.0
28,14873.0,131730.0,28212.0,25834.0,13036.0,16319.0,12222.0,27539.0,123461.0,2898.0,8553.0,23935.0,21483.0,17623.0,7273.0,21705.0,17387.0
29,14942.0,132452.0,28356.0,25772.0,13180.0,16405.0,12337.0,27715.0,123693.0,2889.0,8597.0,24124.0,21564.0,17534.0,7316.0,21671.0,17280.0
30,14667.0,133360.0,28336.0,25619.0,13286.0,16470.0,12500.0,27931.0,124093.0,2919.0,8679.0,24172.0,21157.0,17467.0,7292.0,21748.0,17193.0
31,14879.0,134638.0,28225.0,25453.0,13229.0,16562.0,12496.0,27701.0,124435.0,2931.0,8590.0,24311.0,20989.0,17269.0,7635.0,21777.0,17292.0
32,15017.0,134112.0,28185.0,25438.0,13419.0,16664.0,12655.0,27806.0,124424.0,3095.0,8555.0,24361.0,20857.0,17397.0,7317.0,21730.0,17401.0
33,15363.0,135117.0,28459.0,25778.0,13444.0,16810.0,12728.0,27979.0,124548.0,3179.0,8611.0,24567.0,21108.0,17460.0,7345.0,22004.0,18045.0
34,15606.0,136213.0,28698.0,25918.0,13380.0,16795.0,12739.0,27945.0,124793.0,3087.0,8701.0,24853.0,21360.0,17670.0,7547.0,22338.0,17872.0
35,15503.0,137279.0,29031.0,26424.0,13504.0,17077.0,12860.0,28294.0,125016.0,3063.0,8822.0,25110.0,21756.0,18131.0,7763.0,22851.0,18112.0
36,14733.0,137435.0,28515.0,25794.0,13453.0,16986.0,12601.0,28135.0,125396.0,3041.0,8874.0,24976.0,21404.0,17493.0,7238.0,22335.0,17338.0
37,14435.0,135737.0,28045.0,25299.0,13333.0,16851.0,12424.0,28031.0,124091.0,2984.0,8591.0,24526.0,20719.0,17128.0,7060.0,21763.0,16987.0
38,15199.0,138233.0,28605.0,25885.0,13526.0,16979.0,12616.0,28274.0,125681.0,3043.0,8705.0,24998.0,21183.0,17618.0,7222.0,22183.0,17319.0
39,15582.0,138408.0,28613.0,26088.0,13545.0,17047.0,12603.0,28423.0,125705.0,3098.0,8622.0,25056.0,21441.0,17692.0,7236.0,22476.0,17586.0
40,15598.0,138759.0,28904.0,26612.0,13681.0,17226.0,12706.0,28386.0,126436.0,3068.0,8693.0,25159.0,22174.0,18249.0,7503.0,22901.0,18070.0

In [49]:
len(total_local_df)

230

In [21]:
#인덱스 추가
total_local_df.index=['2018-03','2018-04','2018-05','2018-06','2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12','2019-01', '2019-02','2019-03','2019-04','2019-05','2019-06','2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02','2020-03','2020-04','2020-05','2020-06','2020-07', '2020-08','2020-09','2020-10','2020-11','2020-12', '2021-01', '2021-02', '2020-03','2020-04','2020-05', '2021-06', '2021-07', '2021-08']
total_local_df

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
2018-03,12809.0,119816.0,26327.0,23582.0,11825.0,15320.0,11192.0,26435.0,116608.0,2447.0,8248.0,21674.0,18009.0,15260.0,6746.0,19754.0,15611.0
2018-04,12601.0,119004.0,26194.0,23104.0,11895.0,15280.0,11051.0,26117.0,116534.0,2489.0,8113.0,21429.0,17678.0,15199.0,6757.0,19349.0,15381.0
2018-05,12847.0,120237.0,26487.0,23522.0,11941.0,15499.0,11297.0,26568.0,117092.0,2450.0,8250.0,21732.0,17977.0,15511.0,6879.0,19714.0,15743.0
2018-06,13173.0,120641.0,26618.0,23890.0,12034.0,15446.0,11286.0,26403.0,117729.0,2527.0,8247.0,21790.0,18263.0,15752.0,6862.0,19839.0,15910.0
2018-07,13303.0,121398.0,26580.0,24011.0,11992.0,15453.0,11502.0,26483.0,118087.0,2500.0,8264.0,21983.0,18920.0,15885.0,6987.0,20192.0,16205.0
2018-08,13543.0,121808.0,26703.0,23981.0,12018.0,15564.0,11398.0,26341.0,118622.0,2479.0,8173.0,22012.0,18887.0,15958.0,7038.0,19900.0,16094.0
2018-09,13454.0,122945.0,26720.0,24038.0,12103.0,15625.0,11620.0,26690.0,119171.0,2530.0,8203.0,22223.0,18815.0,15865.0,7020.0,20069.0,16074.0
2018-10,13342.0,122445.0,26621.0,23677.0,12092.0,15580.0,11357.0,26588.0,119197.0,2471.0,8166.0,22137.0,18430.0,15888.0,6947.0,19906.0,16042.0
2018-11,13554.0,123796.0,26654.0,24040.0,12241.0,15666.0,11510.0,26667.0,119605.0,2629.0,8222.0,22269.0,18654.0,16083.0,7033.0,20119.0,16186.0
2018-12,13645.0,124769.0,27058.0,24243.0,12271.0,15738.0,11479.0,26951.0,120208.0,2872.0,8296.0,22442.0,18801.0,16177.0,7096.0,20470.0,16519.0
2019-01,13934.0,124813.0,27258.0,24437.0,12347.0,15672.0,11543.0,26993.0,120160.0,2747.0,8356.0,22509.0,19039.0,16569.0,7163.0,20492.0,16628.0
2019-02,14057.0,126272.0,27604.0,25100.0,12533.0,16018.0,11721.0,27488.0,121214.0,2674.0,8555.0,22695.0,19496.0,16832.0,7434.0,20847.0,16916.0
2019-03,13383.0,125959.0,27281.0,24691.0,12573.0,15941.0,11544.0,27217.0,121174.0,2640.0,8497.0,22622.0,19312.0,16299.0,7145.0,20459.0,16371.0
2019-04,13244.0,124981.0,26780.0,24407.0,12557.0,15881.0,11456.0,26982.0,120764.0,2603.0,8355.0,22427.0,18797.0,15979.0,7043.0,19929.0,16101.0
2019-05,13575.0,126402.0,27355.0,24246.0,12690.0,15927.0,11602.0,27359.0,122284.0,2682.0,8432.0,22760.0,19171.0,16430.0,7319.0,20399.0,16376.0
2019-06,13856.0,126796.0,27523.0,24694.0,12576.0,15864.0,11701.0,27211.0,122058.0,2706.0,8447.0,22881.0,19208.0,16396.0,7291.0,20474.0,16650.0
2019-07,14047.0,127411.0,27539.0,25135.0,12551.0,15960.0,11816.0,27253.0,122044.0,2783.0,8430.0,22936.0,19932.0,16780.0,7394.0,20935.0,16997.0
2019-08,14236.0,128115.0,28025.0,24999.0,12709.0,16059.0,12021.0,27391.0,122865.0,2787.0,8578.0,22952.0,20183.0,16750.0,7545.0,21148.0,16943.0
2019-09,14229.0,129071.0,28049.0,24905.0,12755.0,16151.0,11993.0,27567.0,123122.0,2824.0,8493.0,23286.0,20475.0,16920.0,7519.0,20898.0,17014.0
2019-10,14283.0,128238.0,27726.0,24813.0,12683.0,16396.0,12023.0,27422.0,122529.0,2756.0,8469.0,23253.0,19911.0,16761.0,7466.0,20920.0,16938.0
2019-11,14467.0,129052.0,27678.0,24830.0,12649.0,16130.0,12124.0,27497.0,123122.0,2790.0,8421.0,23236.0,19804.0,16960.0,7408.0,20934.0,16939.0
2019-12,14635.0,130063.0,28105.0,25174.0,12784.0,16306.0,12222.0,27581.0,124022.0,2869.0,8584.0,23585.0,20212.0,16998.0,7568.0,21195.0,17215.0
2020-01,14752.0,130031.0,28204.0,25478.0,12855.0,16300.0,12259.0,27625.0,124414.0,2861.0,8634.0,23652.0,20657.0,17314.0,7599.0,21439.0,17266.0
2020-02,14757.0,130602.0,28620.0,25734.0,13101.0,16446.0,12090.0,27820.0,123752.0,2824.0,8715.0,23749.0,20939.0,17633.0,7565.0,21368.0,17359.0
2020-03,14298.0,131044.0,28520.0,25421.0,13158.0,16303.0,11996.0,27747.0,124112.0,2853.0,8719.0,23721.0,20490.0,16891.0,7766.0,21300.0,16919.0
2020-04,13849.0,129688.0,28026.0,24799.0,12837.0,16152.0,12029.0,27543.0,123200.0,2821.0,8625.0,23444.0,20205.0,16712.0,7170.0,20832.0,16736.0
2020-05,14153.0,130071.0,28101.0,24808.0,12949.0,16200.0,12107.0,27348.0,123785.0,2733.0,8512.0,23700.0,20399.0,16789.0,7309.0,20992.0,16740.0
2020-06,14485.0,131088.0,28061.0,25215.0,12916.0,16254.0,12153.0,27476.0,123057.0,2755.0,8574.0,23669.0,20539.0,17020.0,7259.0,21203.0,17097.0
2020-07,14873.0,131730.0,28212.0,25834.0,13036.0,16319.0,12222.0,27539.0,123461.0,2898.0,8553.0,23935.0,21483.0,17623.0,7273.0,21705.0,17387.0
2020-08,14942.0,132452.0,28356.0,25772.0,13180.0,16405.0,12337.0,27715.0,123693.0,2889.0,8597.0,24124.0,21564.0,17534.0,7316.0,21671.0,17280.0
2020-09,14667.0,133360.0,28336.0,25619.0,13286.0,16470.0,12500.0,27931.0,124093.0,2919.0,8679.0,24172.0,21157.0,17467.0,7292.0,21748.0,17193.0
2020-10,14879.0,134638.0,28225.0,25453.0,13229.0,16562.0,12496.0,27701.0,124435.0,2931.0,8590.0,24311.0,20989.0,17269.0,7635.0,21777.0,17292.0
2020-11,15017.0,134112.0,28185.0,25438.0,13419.0,16664.0,12655.0,27806.0,124424.0,3095.0,8555.0,24361.0,20857.0,17397.0,7317.0,21730.0,17401.0
2020-12,15363.0,135117.0,28459.0,25778.0,13444.0,16810.0,12728.0,27979.0,124548.0,3179.0,8611.0,24567.0,21108.0,17460.0,7345.0,22004.0,18045.0
2021-01,15606.0,136213.0,28698.0,25918.0,13380.0,16795.0,12739.0,27945.0,124793.0,3087.0,8701.0,24853.0,21360.0,17670.0,7547.0,22338.0,17872.0
2021-02,15503.0,137279.0,29031.0,26424.0,13504.0,17077.0,12860.0,28294.0,125016.0,3063.0,8822.0,25110.0,21756.0,18131.0,7763.0,22851.0,18112.0
2020-03,14733.0,137435.0,28515.0,25794.0,13453.0,16986.0,12601.0,28135.0,125396.0,3041.0,8874.0,24976.0,21404.0,17493.0,7238.0,22335.0,17338.0
2020-04,14435.0,135737.0,28045.0,25299.0,13333.0,16851.0,12424.0,28031.0,124091.0,2984.0,8591.0,24526.0,20719.0,17128.0,7060.0,21763.0,16987.0
2020-05,15199.0,138233.0,28605.0,25885.0,13526.0,16979.0,12616.0,28274.0,125681.0,3043.0,8705.0,24998.0,21183.0,17618.0,7222.0,22183.0,17319.0
2021-06,15582.0,138408.0,28613.0,26088.0,13545.0,17047.0,12603.0,28423.0,125705.0,3098.0,8622.0,25056.0,21441.0,17692.0,7236.0,22476.0,17586.0
2021-07,15598.0,138759.0,28904.0,26612.0,13681.0,17226.0,12706.0,28386.0,126436.0,3068.0,8693.0,25159.0,22174.0,18249.0,7503.0,22901.0,18070.0
2021-08,15877.0,139618.0,28888.0,26587.0,13616.0,17167.0,12757.0,28872.0,126885.0,3111.0,8722.0,25380.0,22206.0,18447.0,7495.0,22708.0,18045.0

In [22]:
#기간을 맞추기 위해 마지막 행 삭제
total_local_df=total_local_df.drop(index='2021-08', axis=0)
total_local_df

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
2018-03,12809.0,119816.0,26327.0,23582.0,11825.0,15320.0,11192.0,26435.0,116608.0,2447.0,8248.0,21674.0,18009.0,15260.0,6746.0,19754.0,15611.0
2018-04,12601.0,119004.0,26194.0,23104.0,11895.0,15280.0,11051.0,26117.0,116534.0,2489.0,8113.0,21429.0,17678.0,15199.0,6757.0,19349.0,15381.0
2018-05,12847.0,120237.0,26487.0,23522.0,11941.0,15499.0,11297.0,26568.0,117092.0,2450.0,8250.0,21732.0,17977.0,15511.0,6879.0,19714.0,15743.0
2018-06,13173.0,120641.0,26618.0,23890.0,12034.0,15446.0,11286.0,26403.0,117729.0,2527.0,8247.0,21790.0,18263.0,15752.0,6862.0,19839.0,15910.0
2018-07,13303.0,121398.0,26580.0,24011.0,11992.0,15453.0,11502.0,26483.0,118087.0,2500.0,8264.0,21983.0,18920.0,15885.0,6987.0,20192.0,16205.0
2018-08,13543.0,121808.0,26703.0,23981.0,12018.0,15564.0,11398.0,26341.0,118622.0,2479.0,8173.0,22012.0,18887.0,15958.0,7038.0,19900.0,16094.0
2018-09,13454.0,122945.0,26720.0,24038.0,12103.0,15625.0,11620.0,26690.0,119171.0,2530.0,8203.0,22223.0,18815.0,15865.0,7020.0,20069.0,16074.0
2018-10,13342.0,122445.0,26621.0,23677.0,12092.0,15580.0,11357.0,26588.0,119197.0,2471.0,8166.0,22137.0,18430.0,15888.0,6947.0,19906.0,16042.0
2018-11,13554.0,123796.0,26654.0,24040.0,12241.0,15666.0,11510.0,26667.0,119605.0,2629.0,8222.0,22269.0,18654.0,16083.0,7033.0,20119.0,16186.0
2018-12,13645.0,124769.0,27058.0,24243.0,12271.0,15738.0,11479.0,26951.0,120208.0,2872.0,8296.0,22442.0,18801.0,16177.0,7096.0,20470.0,16519.0
2019-01,13934.0,124813.0,27258.0,24437.0,12347.0,15672.0,11543.0,26993.0,120160.0,2747.0,8356.0,22509.0,19039.0,16569.0,7163.0,20492.0,16628.0
2019-02,14057.0,126272.0,27604.0,25100.0,12533.0,16018.0,11721.0,27488.0,121214.0,2674.0,8555.0,22695.0,19496.0,16832.0,7434.0,20847.0,16916.0
2019-03,13383.0,125959.0,27281.0,24691.0,12573.0,15941.0,11544.0,27217.0,121174.0,2640.0,8497.0,22622.0,19312.0,16299.0,7145.0,20459.0,16371.0
2019-04,13244.0,124981.0,26780.0,24407.0,12557.0,15881.0,11456.0,26982.0,120764.0,2603.0,8355.0,22427.0,18797.0,15979.0,7043.0,19929.0,16101.0
2019-05,13575.0,126402.0,27355.0,24246.0,12690.0,15927.0,11602.0,27359.0,122284.0,2682.0,8432.0,22760.0,19171.0,16430.0,7319.0,20399.0,16376.0
2019-06,13856.0,126796.0,27523.0,24694.0,12576.0,15864.0,11701.0,27211.0,122058.0,2706.0,8447.0,22881.0,19208.0,16396.0,7291.0,20474.0,16650.0
2019-07,14047.0,127411.0,27539.0,25135.0,12551.0,15960.0,11816.0,27253.0,122044.0,2783.0,8430.0,22936.0,19932.0,16780.0,7394.0,20935.0,16997.0
2019-08,14236.0,128115.0,28025.0,24999.0,12709.0,16059.0,12021.0,27391.0,122865.0,2787.0,8578.0,22952.0,20183.0,16750.0,7545.0,21148.0,16943.0
2019-09,14229.0,129071.0,28049.0,24905.0,12755.0,16151.0,11993.0,27567.0,123122.0,2824.0,8493.0,23286.0,20475.0,16920.0,7519.0,20898.0,17014.0
2019-10,14283.0,128238.0,27726.0,24813.0,12683.0,16396.0,12023.0,27422.0,122529.0,2756.0,8469.0,23253.0,19911.0,16761.0,7466.0,20920.0,16938.0
2019-11,14467.0,129052.0,27678.0,24830.0,12649.0,16130.0,12124.0,27497.0,123122.0,2790.0,8421.0,23236.0,19804.0,16960.0,7408.0,20934.0,16939.0
2019-12,14635.0,130063.0,28105.0,25174.0,12784.0,16306.0,12222.0,27581.0,124022.0,2869.0,8584.0,23585.0,20212.0,16998.0,7568.0,21195.0,17215.0
2020-01,14752.0,130031.0,28204.0,25478.0,12855.0,16300.0,12259.0,27625.0,124414.0,2861.0,8634.0,23652.0,20657.0,17314.0,7599.0,21439.0,17266.0
2020-02,14757.0,130602.0,28620.0,25734.0,13101.0,16446.0,12090.0,27820.0,123752.0,2824.0,8715.0,23749.0,20939.0,17633.0,7565.0,21368.0,17359.0
2020-03,14298.0,131044.0,28520.0,25421.0,13158.0,16303.0,11996.0,27747.0,124112.0,2853.0,8719.0,23721.0,20490.0,16891.0,7766.0,21300.0,16919.0
2020-04,13849.0,129688.0,28026.0,24799.0,12837.0,16152.0,12029.0,27543.0,123200.0,2821.0,8625.0,23444.0,20205.0,16712.0,7170.0,20832.0,16736.0
2020-05,14153.0,130071.0,28101.0,24808.0,12949.0,16200.0,12107.0,27348.0,123785.0,2733.0,8512.0,23700.0,20399.0,16789.0,7309.0,20992.0,16740.0
2020-06,14485.0,131088.0,28061.0,25215.0,12916.0,16254.0,12153.0,27476.0,123057.0,2755.0,8574.0,23669.0,20539.0,17020.0,7259.0,21203.0,17097.0
2020-07,14873.0,131730.0,28212.0,25834.0,13036.0,16319.0,12222.0,27539.0,123461.0,2898.0,8553.0,23935.0,21483.0,17623.0,7273.0,21705.0,17387.0
2020-08,14942.0,132452.0,28356.0,25772.0,13180.0,16405.0,12337.0,27715.0,123693.0,2889.0,8597.0,24124.0,21564.0,17534.0,7316.0,21671.0,17280.0
2020-09,14667.0,133360.0,28336.0,25619.0,13286.0,16470.0,12500.0,27931.0,124093.0,2919.0,8679.0,24172.0,21157.0,17467.0,7292.0,21748.0,17193.0
2020-10,14879.0,134638.0,28225.0,25453.0,13229.0,16562.0,12496.0,27701.0,124435.0,2931.0,8590.0,24311.0,20989.0,17269.0,7635.0,21777.0,17292.0
2020-11,15017.0,134112.0,28185.0,25438.0,13419.0,16664.0,12655.0,27806.0,124424.0,3095.0,8555.0,24361.0,20857.0,17397.0,7317.0,21730.0,17401.0
2020-12,15363.0,135117.0,28459.0,25778.0,13444.0,16810.0,12728.0,27979.0,124548.0,3179.0,8611.0,24567.0,21108.0,17460.0,7345.0,22004.0,18045.0
2021-01,15606.0,136213.0,28698.0,25918.0,13380.0,16795.0,12739.0,27945.0,124793.0,3087.0,8701.0,24853.0,21360.0,17670.0,7547.0,22338.0,17872.0
2021-02,15503.0,137279.0,29031.0,26424.0,13504.0,17077.0,12860.0,28294.0,125016.0,3063.0,8822.0,25110.0,21756.0,18131.0,7763.0,22851.0,18112.0
2020-03,14733.0,137435.0,28515.0,25794.0,13453.0,16986.0,12601.0,28135.0,125396.0,3041.0,8874.0,24976.0,21404.0,17493.0,7238.0,22335.0,17338.0
2020-04,14435.0,135737.0,28045.0,25299.0,13333.0,16851.0,12424.0,28031.0,124091.0,2984.0,8591.0,24526.0,20719.0,17128.0,7060.0,21763.0,16987.0
2020-05,15199.0,138233.0,28605.0,25885.0,13526.0,16979.0,12616.0,28274.0,125681.0,3043.0,8705.0,24998.0,21183.0,17618.0,7222.0,22183.0,17319.0
2021-06,15582.0,138408.0,28613.0,26088.0,13545.0,17047.0,12603.0,28423.0,125705.0,3098.0,8622.0,25056.0,21441.0,17692.0,7236.0,22476.0,17586.0
2021-07,15598.0,138759.0,28904.0,26612.0,13681.0,17226.0,12706.0,28386.0,126436.0,3068.0,8693.0,25159.0,22174.0,18249.0,7503.0,22901.0,18070.0

In [64]:
#df 저장
total_local_df.to_csv('C:\\Users\\admin\\Downloads\\연도별 지역 사업장 추이.csv', encoding='Euc-kr')

In [26]:
'========================================================================================='

"""
이슈사항

(시점은 파일기준)
2018년 3월부터 2020년 3월까지 
2020년 4월부터 2020년 6월까지

2020년 4월 시점에서 데이터의 서식 변화
"""
print('')

In [29]:
#2018년 3월~ 2020년 3월

#국민연금 가입 사업장 데이터 불러오기
test=pd.read_csv("./국민연금 가입 사업장 내역 2018년 3월.csv", encoding='CP949')

#탈퇴한 사업장 제외하고 보기
test=test[test['사업장가입상태코드 1:등록2:탈퇴 WKPL_JNNG_STCD VARCHAR(1)']==1]

#사용할 열만 추출
#want_columns=test0.iloc[:,[1,3,9,13,18]]
#want_columns

#시도별 사업장 파악

# 법정동주소광역시도코드 리스트
local_list=[42, 41, 48, 47, 29, 27, 30, 26, 11, 36, 31, 28, 46, 45, 50, 44, 43]

#데이터 출력
for path in total_period_list:
        test=pd.read_csv(path, encoding='CP949',delimiter = ',',low_memory=False)
        #9번째 열인 주소광역시코드만 추출
        each_month_data=test.iloc[:,[9]]
        #월별로 각 시도별 사업장 분포 확인
        local_result=[]
        if '법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)' in test.columns:
            print('try',path)
            for i in local_list:
                local_result.append(len(each_month_data[each_month_data['법정동주소광역시도코드 LDONG_ADDR_MGPL_DG_CD\tVARCHAR(2)'] == i]))
            #df에 지역별 사업장 카운트 리스트 추가
            total_local_df=total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)
        elif ' 법정동주소광역시도코드' in test.columns:
            print('except',path)
            for i in local_list:
                local_result.append(len(each_month_data[each_month_data[' 법정동주소광역시도코드'] == i]))
            #df에 지역별 사업장 카운트 리스트 추가
            total_local_df=total_local_df.append(pd.Series(local_result, index=total_local_df.columns), ignore_index=True)  
        else:
            print(path)
#2018년3월부터 2021년8월까지 각 지역별 사업장 수
total_local_df

C:\Users\admin\Anaconda3\envs\SSAC\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 3월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 4월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 5월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 6월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 7월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 8월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 9월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 10월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 11월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2018년 12월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 1월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 2월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 3월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 4월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 5월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 6월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 7월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 8월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 9월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 10월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 11월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2019년 12월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 1월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 2월.csv
try G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 3월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 4월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 5월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 6월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 7월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 8월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 9월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 10월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 11월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2020년 12월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 1월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 2월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 3월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 4월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 5월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 6월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 7월.csv
except G:\SSAC\SSAC_2021_playdata\mini_project\data\국민연금 가입 사업장 내역 2021년 8월.csv

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
0,12809.0,119816.0,26327.0,23582.0,11825.0,15320.0,11192.0,26435.0,116608.0,2447.0,8248.0,21674.0,18009.0,15260.0,6746.0,19754.0,15611.0
1,12601.0,119004.0,26194.0,23104.0,11895.0,15280.0,11051.0,26117.0,116534.0,2489.0,8113.0,21429.0,17678.0,15199.0,6757.0,19349.0,15381.0
2,12847.0,120237.0,26487.0,23522.0,11941.0,15499.0,11297.0,26568.0,117092.0,2450.0,8250.0,21732.0,17977.0,15511.0,6879.0,19714.0,15743.0
3,13173.0,120641.0,26618.0,23890.0,12034.0,15446.0,11286.0,26403.0,117729.0,2527.0,8247.0,21790.0,18263.0,15752.0,6862.0,19839.0,15910.0
4,13303.0,121398.0,26580.0,24011.0,11992.0,15453.0,11502.0,26483.0,118087.0,2500.0,8264.0,21983.0,18920.0,15885.0,6987.0,20192.0,16205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,14435.0,135737.0,28045.0,25299.0,13333.0,16851.0,12424.0,28031.0,124091.0,2984.0,8591.0,24526.0,20719.0,17128.0,7060.0,21763.0,16987.0
79,15199.0,138233.0,28605.0,25885.0,13526.0,16979.0,12616.0,28274.0,125681.0,3043.0,8705.0,24998.0,21183.0,17618.0,7222.0,22183.0,17319.0
80,15582.0,138408.0,28613.0,26088.0,13545.0,17047.0,12603.0,28423.0,125705.0,3098.0,8622.0,25056.0,21441.0,17692.0,7236.0,22476.0,17586.0
81,15598.0,138759.0,28904.0,26612.0,13681.0,17226.0,12706.0,28386.0,126436.0,3068.0,8693.0,25159.0,22174.0,18249.0,7503.0,22901.0,18070.0
82,15877.0,139618.0,28888.0,26587.0,13616.0,17167.0,12757.0,28872.0,126885.0,3111.0,8722.0,25380.0,22206.0,18447.0,7495.0,22708.0,18045.0

In [380]:
#2019-7 ~ 2020-8

'==========================================================================='

In [3]:
import pandas as pd
test_1907=pd.read_csv('./국민연금 가입 사업장 내역 2019년 7월.csv',encoding='CP949')

In [4]:
#업종 분류별 빈 딕셔너리 생성
#강원도	경기도	경상남도	경상북도	광주광역시	대구광역시	대전광역시	부산광역시	서울특별시	세종특별자치시	울산광역시	인천광역시	전라남도	전라북도	제주특별자치도	충청남도	충청북도
job_dict_total = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
job_df=pd.DataFrame([job_dict_total])

data_1907=test_1907.iloc[:,[13]]
data_1907

test1=test_1907.iloc[:,[13]].groupby(data_1907['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'])
test1.count()

                                            사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
                                                                                  9792
101000                                                                              15
11000                                                                              609
11001                                                                              167
12101                                                                               77
...                                                                                ...
950000                                                                             295
950001                                                                              10
950002                                                                              31
980000                                                                               2
999999                                                                           75476

[1007 rows x 1 columns]

In [5]:
test1.count().index

Index([' ', '101000', '11000', '11001', '12101', '12102', '12103', '12201',
       '12202', '12203',
       ...
       '940915', '940916', '940917', '940918', '940919', '950000', '950001',
       '950002', '980000', '999999'],
      dtype='object', name='사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)', length=1007)

In [423]:
test1.count().index[1]

'101000'

In [431]:
test1.count().iloc[0].iloc[0]

9792

In [429]:
test1.count().index[2]

'11000'

In [434]:
test1.count().iloc[1].iloc[0]

15

In [436]:
test1.count().index[4]

'12102'

In [440]:
test1.count().iloc[4].iloc[0]

77

사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)    4
Name: 12103, dtype: int64

In [433]:
test1.count()

                                            사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)
                                                                                  9792
101000                                                                              15
11000                                                                              609
11001                                                                              167
12101                                                                               77
...                                                                                ...
950000                                                                             295
950001                                                                              10
950002                                                                              31
980000                                                                               2
999999                                                                           75476

[1007 rows x 1 columns]

In [6]:
#각 업종코드별 분류를 통해 사업장 수 파악하기

#업종 분류별 빈 딕셔너리 생성
job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}

#인덱스(업종) 별 사업장 개수
for i in range(len(test1.count().index)):
    #업종코드가 없는것이 있으므로 try처리
    try:
        if int(test1.count().index[i]) in range(11000,151104):
            job_dict['1차 산업']+=test1.count().iloc[i].iloc[0]            
        if int(test1.count().index[i]) in range(151104,369909):
            job_dict['제조업']+=test1.count().iloc[i].iloc[0]              
        if int(test1.count().index[i]) in range(371000,410001):
            job_dict['자원']+=test1.count().iloc[i].iloc[0]           
        if int(test1.count().index[i]) in range(451101,453001):
            job_dict['건설업']+=test1.count().iloc[i].iloc[0]                           
        if int(test1.count().index[i]) in range(501101,525913):
            job_dict['도매 및 소매업']+=test1.count().iloc[i].iloc[0]                 
        if int(test1.count().index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test1.count().iloc[i].iloc[0]             
        if int(test1.count().index[i]) in range(601000,630903):
            job_dict['운수 및 창고업, 임대']+=test1.count().iloc[i].iloc[0]            
        if int(test1.count().index[i]) in range(630903,672002):
            job_dict['서비스업']+=test1.count().iloc[i].iloc[0]           
        if int(test1.count().index[i]) in range(701101,703025):
            job_dict['부동산업']+=test1.count().iloc[i].iloc[0]           
        if int(test1.count().index[i]) in range(711100,713007):
            job_dict['운수 및 창고업, 임대']+=test1.count().iloc[i].iloc[0]                     
        if int(test1.count().index[i]) in range(721000,729001):
            job_dict['정보통신업']+=test1.count().iloc[i].iloc[0]              
        if int(test1.count().index[i]) in range(741101,930922):
            job_dict['서비스업']+=test1.count().iloc[i].iloc[0]            
        if int(test1.count().index[i]) in range(930925,950003):
            job_dict['달리 분류되지 않은 개인 서비스업']+=test1.count().iloc[i].iloc[0]  
        if int(test1.count().index[i]) ==999999:
            continue
    except:
        continue

job_dict

{'1차 산업': 4360,
 '제조업': 96354,
 '자원': 2013,
 '건설업': 90136,
 '도매 및 소매업': 85507,
 '숙박 및 음식점': 8973,
 '운수 및 창고업, 임대': 16406,
 '서비스업': 68499,
 '부동산업': 22307,
 '정보통신업': 16065,
 '달리 분류되지 않은 개인 서비스업': 1422}

In [334]:
'사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)' in test.columns

False

In [335]:
#2020년도 3월 이후 버전(4월부터 데이터서식에 변화있음)
test
test1=test.iloc[:,[13]].groupby(test[' 사업장업종코드'])
test1.count()

           사업장업종코드
 사업장업종코드
              9117
101000          15
11000          647
11001          231
11002            8
...            ...
950000         280
950001           9
950002          47
980000           1
999999       74052

[1517 rows x 1 columns]

In [336]:
test1.count().iloc[1]

 사업장업종코드    15
Name: 101000, dtype: int64

In [356]:
test1.count()

           사업장업종코드
 사업장업종코드
              9117
101000          15
11000          647
11001          231
11002            8
...            ...
950000         280
950001           9
950002          47
980000           1
999999       74052

[1517 rows x 1 columns]

In [ ]:
#각 업종코드별 분류를 통해 사업장 수 파악하기

#업종 분류별 빈 딕셔너리 생성
job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}

#인덱스(업종) 별 사업장 개수
for i in range(len(test1.count().index)):
    #업종코드가 없는것이 있으므로 try처리
    try:
        if int(test1.count().index[i]) in range(11000,151104):
            job_dict['1차 산업']+=test2.count().iloc[i]            
        if int(test1.count().index[i]) in range(151104,369909):
            job_dict['제조업']+=test2.count().iloc[i]              
        if int(test2.count().index[i]) in range(371000,410001):
            job_dict['자원']+=test2.count().iloc[i]           
        if int(test2.count().count().index[i]) in range(451101,453001):
            job_dict['건설업']+=test2.count().iloc[i]                
        if int(test2.count().count().index[i]) in range(501101,525913):
            job_dict['도매 및 소매업']+=test2.count().iloc[i]      
        if int(test2.count().count().index[i]) in range(551001,552310):
            job_dict['숙박 및 음식점']+=test2.count().iloc[i]  
        if int(test2.count().index[i]) in range(601000,630903):
            job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i] 
        if int(test2.count().index[i]) in range(630903,672002):
            job_dict['서비스업']+=test2.count().iloc[i]
        if int(test2.count().index[i]) in range(701101,703025):
            job_dict['부동산업']+=test2.count().iloc[i]
        if int(test2.count().index[i]) in range(711100,713007):
            job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i]          
        if int(test2.count().index[i]) in range(721000,729001):
            job_dict['정보통신업']+=test2.count().iloc[i]   
        if int(test2.count().index[i]) in range(741101,930922):
            job_dict['서비스업']+=test2.count().iloc[i] 
        if int(test2.count().index[i]) in range(930925,950003):
            job_dict['달리 분류되지 않은 개인 서비스업']+=test2.count().iloc[i]
        if int(test2.count().index[i]) ==999999:
            continue
    except:
        continue

In [ ]:
#df 행 추가 갱신
second={'1차 산업': 3806,
 '제조업': 91079,
 '자원': 1792,
 '건설업': 78219,
 '도매 및 소매업': 78985,
 '숙박 및 음식점': 7358,
 '운수 및 창고업, 임대': 15904,
 '서비스업': 62635,
 '부동산업': 23062,
 '정보통신업': 14048,
 '달리 분류되지 않은 개인 서비스업': 1286}

se_df=pd.DataFrame([second])
job_df=pd.DataFrame([job_dict])

pd.concat([job_df,se_df])

In [8]:
#통합 딕셔너리 생성
job_dict_total = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
job_dict_total=pd.DataFrame([job_dict_total])

job_df=pd.DataFrame([job_dict])
#통합 df에 concat
job_dict_total=pd.concat([job_dict_total, job_df])
job_dict_total

,1차 산업,제조업,자원,건설업,도매 및 소매업,숙박 및 음식점,"운수 및 창고업, 임대",서비스업,부동산업,정보통신업,달리 분류되지 않은 개인 서비스업
0,0,0,0,0,0,0,0,0,0,0,0
0,4360,96354,2013,90136,85507,8973,16406,68499,22307,16065,1422

In [ ]:
total_period_list[:5]

In [ ]:
# 응용 #시간 오래걸려서 이 코드 안씀
# 사용중단 / 추가수정 필요함 

#업종 분류별 빈 딕셔너리 생성
job_dict_total = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
job_df=pd.DataFrame([job_dict_total])

#데이터 출력
for path in total_period_list:
    test=pd.read_csv(path, encoding='CP949',delimiter = ',',low_memory=False)
    #9번째 열인 주소광역시코드만 추출
    each_month_data=test.iloc[:,[13]]
    #월별로 각 시도별 사업장 분포 확인
    local_result=[]
    if '사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)' in test.columns:
        test1=test.iloc[:,[13]].groupby(test['사업장업종코드 WKPL_INTP_CD\t국세청업종코드참조 VARCHAR(6)'])            
        print('try',path)
        #인덱스(업종) 별 사업장 개수 초기화
        job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
        for i in range(len(test1.count().index)):
            #업종코드가 없는것이 있으므로 try처리
            try:
                if int(test1.count().index[i]) in range(11000,151104):
                    job_dict['1차 산업']+=test2.count().iloc[i].loc[0]            
                if int(test1.count().index[i]) in range(151104,369909):
                    job_dict['제조업']+=test2.count().iloc[i].loc[0]              
                if int(test2.count().index[i]) in range(371000,410001):
                    job_dict['자원']+=test2.count().iloc[i].loc[0]           
                if int(test2.count().count().index[i]) in range(451101,453001):
                    job_dict['건설업']+=test2.count().iloc[i].loc[0]                
                if int(test2.count().count().index[i]) in range(501101,525913):
                    job_dict['도매 및 소매업']+=test2.count().iloc[i].loc[0]      
                if int(test2.count().count().index[i]) in range(551001,552310):
                    job_dict['숙박 및 음식점']+=test2.count().iloc[i].loc[0]  
                if int(test2.count().index[i]) in range(601000,630903):
                    job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i].loc[0]
                if int(test2.count().index[i]) in range(630903,672002):
                    job_dict['서비스업']+=test2.count().iloc[i].loc[0]
                if int(test2.count().index[i]) in range(701101,703025):
                    job_dict['부동산업']+=test2.count().iloc[i].loc[0]
                if int(test2.count().index[i]) in range(711100,713007):
                    job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i].loc[0]          
                if int(test2.count().index[i]) in range(721000,729001):
                    job_dict['정보통신업']+=test2.count().iloc[i].loc[0]   
                if int(test2.count().index[i]) in range(741101,930922):
                    job_dict['서비스업']+=test2.count().iloc[i].loc[0] 
                if int(test2.count().index[i]) in range(930925,950003):
                    job_dict['달리 분류되지 않은 개인 서비스업']+=test2.count().iloc[i].loc[0]
                if int(test2.count().index[i]) ==999999:
                    continue
            except:
                continue
    elif ' 사업장업종코드' in test.columns:
        test1=test.iloc[:,[13]].groupby(test[' 사업장업종코드'])            
        print('except',path)
        #df에 지역별 사업장 카운트 리스트 추가
        #인덱스(업종) 별 사업장 개수 초기화
        job_dict = {'1차 산업':0, '제조업':0, '자원':0, '건설업':0, '도매 및 소매업':0, '숙박 및 음식점':0, '운수 및 창고업, 임대':0, '서비스업':0, '부동산업':0, '정보통신업':0, '달리 분류되지 않은 개인 서비스업':0}
        for i in range(len(test1.count().index)):
            #업종코드가 없는것이 있으므로 try처리
            try:
                if int(test1.count().index[i]) in range(11000,151104):
                    job_dict['1차 산업']+=test2.count().iloc[i]            
                if int(test1.count().index[i]) in range(151104,369909):
                    job_dict['제조업']+=test2.count().iloc[i]              
                if int(test2.count().index[i]) in range(371000,410001):
                    job_dict['자원']+=test2.count().iloc[i]           
                if int(test2.count().count().index[i]) in range(451101,453001):
                    job_dict['건설업']+=test2.count().iloc[i]                
                if int(test2.count().count().index[i]) in range(501101,525913):
                    job_dict['도매 및 소매업']+=test2.count().iloc[i]      
                if int(test2.count().count().index[i]) in range(551001,552310):
                    job_dict['숙박 및 음식점']+=test2.count().iloc[i]  
                if int(test2.count().index[i]) in range(601000,630903):
                    job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i] 
                if int(test2.count().index[i]) in range(630903,672002):
                    job_dict['서비스업']+=test2.count().iloc[i]
                if int(test2.count().index[i]) in range(701101,703025):
                    job_dict['부동산업']+=test2.count().iloc[i]
                if int(test2.count().index[i]) in range(711100,713007):
                    job_dict['운수 및 창고업, 임대']+=test2.count().iloc[i]          
                if int(test2.count().index[i]) in range(721000,729001):
                    job_dict['정보통신업']+=test2.count().iloc[i]   
                if int(test2.count().index[i]) in range(741101,930922):
                    job_dict['서비스업']+=test2.count().iloc[i] 
                if int(test2.count().index[i]) in range(930925,950003):
                    job_dict['달리 분류되지 않은 개인 서비스업']+=test2.count().iloc[i]
                if int(test2.count().index[i]) ==999999:
                    continue
            except:
                continue
        job_df=pd.DataFrame([job_dict])
        job_dict_total=pd.concat([job_dict_total, job_df])
    else:
        print(path)
            
#2018년3월부터 2021년8월까지 각 지역별 사업장 수
#job_dict_total