In [3]:
#레이블 인코딩
"""
문자열(범주형) 값을 오름차순 정렬 후 0 부터 1씩 증가하는 값으로 변환
숫자의 차이가 모델에 영향을 주지 않는 트리 계열 모델(의사결정나무, 랜덤포레스트)에 적용한다.
숫자의 차이가 모델에 영향을 미치는 선형 계열 모델(로지스틱회귀, SVM, 신경망)에는 사용하면 안된다.

선형결합을 위해 숫자로 변환한 것이고 이것은 기호로써 작용한다고 보면 됨.

"""
print('')

In [7]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
#사이킷런은 속성뒤에 언더바가 붙음
items=['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV']

In [8]:
encoder=LabelEncoder()#생성
encoder.fit(items)#학습 고유값을 찾아서 정렬후 0부터 1씩 증가하는 정수 매핑
labels = encoder.transform(items) #변환

In [9]:
print('인코딩 변환값:',labels)

array([0, 1, 3, 3, 1, 2, 0, 0])

In [10]:
print('인코딩 클래스:',encoder.classes_)#배열의 index가 변환된 정수

array(['TV', '냉장고', '에어컨', '컴퓨터'], dtype='<U3')

In [11]:
print('디코딩 원본 값:',encoder.inverse_transform([1, 0, 2, 0, 1, 1, 3, 3]))

디코딩 원본 값: ['냉장고' 'TV' '에어컨' 'TV' '냉장고' '냉장고' '컴퓨터' '컴퓨터']

In [13]:
le2=LabelEncoder()
item_labels = le2.fit_transform(items)
item_labels

array([0, 1, 3, 3, 1, 2, 0, 0], dtype=int64)

In [14]:
items1 = ['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV']
items2 = ['TV',"TV",'냉장고']
le3 = LabelEncoder()
item_labels1 = le3.fit_transform(items1)#item1로 학습 후 item1을 변환
item_labels2 = le3.transform(items2)
print("item_labels1:", item_labels1)
print("item_labels2:", item_labels2)

item_labels1: [0 1 3 3 1 2 0 0]
item_labels2: [0 0 1]

In [15]:
items3 = ['TV','핸드폰'] #학습시 없는 class를 변환할 경우 exception 발생
le3.transform(items3)
#fit은 어떻게 학습하는지 찾는것

ValueError: y contains previously unseen labels: '핸드폰'

In [ ]:
#실습

In [176]:
import pandas as pd

cols = ['age', 'workclass','fnlwgt','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','capital-gain','capital-loss', 'hours-per-week','native-country', 'income']
data  = pd.read_csv('./data/adult.data', 
                    header=None, #컬럼 없음
                    names=cols,  #컬럼명 지정
                    na_values='?', #?는 (NA)결측치로 읽으라는 것
                    skipinitialspace=True) #글자의 앞에오는 공백 제거
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [177]:
#결측치 처리
#위에서 ?를 문자가 아닌 결측치로 읽어들여서 확인되는 것임
#?를 문자로 읽어들인다면 
data.isnull() #cell 별로 결측치 여부 확인
data.isnull().sum() #true:1, False:0 > 컬럼단위로 합계를 구함

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [178]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [179]:
data.dropna()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [180]:
#inplace 옵션을 안붙이면 원본은 안바뀌고 결측치 행이 삭제된 새로운 복사본 생성
data.dropna(inplace=True) #이러면 원본 변경

In [181]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [182]:
data.shape

(30162, 15)

In [183]:
##todo

In [184]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [185]:
"""
TODO: encoding_columns 레이블 인코딩 처리
범주형: 'workclass','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','native-country', 'income'
연속형: 'age', fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'
아래 encoding_columns 컬럼들은 Label Encoding 처리,
not_encoding_columns 컬럼들의 값들은 그대로 유지.
"""

"\nTODO: encoding_columns 레이블 인코딩 처리\n범주형: 'workclass','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','native-country', 'income'\n연속형: 'age', fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'\n아래 encoding_columns 컬럼들은 Label Encoding 처리,\nnot_encoding_columns 컬럼들의 값들은 그대로 유지.\n"

In [186]:
encoding_columns = ['workclass','education','marital-status', 'occupation','relationship','race','gender','native-country', 'income']
not_encoding_columns = ['age','fnlwgt', 'education-num','capital-gain','capital-loss','hours-per-week']

In [187]:
for i in data.columns:
    print(i, type(i))

age <class 'str'>
workclass <class 'str'>
fnlwgt <class 'str'>
education <class 'str'>
education-num <class 'str'>
marital-status <class 'str'>
occupation <class 'str'>
relationship <class 'str'>
race <class 'str'>
gender <class 'str'>
capital-gain <class 'str'>
capital-loss <class 'str'>
hours-per-week <class 'str'>
native-country <class 'str'>
income <class 'str'>

In [188]:
'workclass' in encoding_columns

True

In [189]:
data['workclass']

0               State-gov
1        Self-emp-not-inc
2                 Private
3                 Private
4                 Private
               ...
32556             Private
32557             Private
32558             Private
32559             Private
32560        Self-emp-inc
Name: workclass, Length: 30162, dtype: object

In [190]:
encoder0=LabelEncoder()#생성
encoder0.fit(data['workclass'])#학습 고유값을 찾아서 정렬후 0부터 1씩 증가하는 정수 매핑
labels0 = encoder0.transform(data['workclass']) #변환
labels0

array([5, 4, 2, ..., 2, 2, 3])

In [191]:
data0=data
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [192]:
not_encoding_columns

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [273]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
for i in data.columns:
    if i in encoding_columns:
        print(i)
        encoder0 = LabelEncoder()
        encoder0.fit(data[i])
        data[i] = encoder0.transform(data[i])
    else:
        pass
data

workclass
education
marital-status
occupation
relationship
race
gender
native-country
income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [274]:
"""
5.1  Adult datast의 income 추론 모델링
5.1.1  데이터 분할
X, y 나누기
train/validation/test set 나누기
"""

'\n5.1  Adult datast의 income 추론 모델링\n5.1.1  데이터 분할\nX, y 나누기\ntrain/validation/test set 나누기\n'

In [275]:
total_data = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13]]
target_data = data.iloc[:, [-1]]

In [276]:
#type(total_data)
#type(target_data)
X=total_data.to_numpy()
y=data.iloc[:,-1].to_numpy()

In [277]:
from sklearn.model_selection import StratifiedKFold

s_fold = StratifiedKFold(n_splits=3)
acc_train_list = []
acc_test_list = []

In [278]:
ex= s_fold.split(X,y)
next(ex)

(array([10003, 10004, 10005, ..., 30159, 30160, 30161]),
 array([    0,     1,     2, ..., 10191, 10193, 10194]))

In [279]:
#위와 동일
#ex= s_fold.split(total_data,target_data)
#next(ex)

In [280]:
"""
5.1.2  모델생성, 학습
DecisionTreeClassifier
"""

'\n5.1.2  모델생성, 학습\nDecisionTreeClassifier\n'

In [281]:
for train_index, test_index in s_fold.split(X,y):
    #index를 이용해서 trian/test set 조회
    X_train, y_train = X[train_index], y[train_index]
    X_test, y_test = X[test_index], y[test_index]
    
    #모델 생성
    tree = DecisionTreeClassifier()
    
    #학습
    tree.fit(X_train, y_train)
    
    #예측
    pred_train = tree.predict(X_train)
    pred_test = tree.predict(X_test)
    
    #평가-정확도
    acc_train = accuracy_score(y_train, pred_train)
    acc_test = accuracy_score(y_test, pred_test)
    #평가결과를 리스트에 추가
    acc_train_list.append(acc_train)
    acc_test_list.append(acc_test)

In [284]:
acc_train_list, np.mean(acc_train_list)

([1.0, 0.9999502685498309, 1.0], 0.9999834228499437)

In [285]:
acc_test_list, np.mean(acc_test_list)

([0.8050527153371793, 0.8003779590212851, 0.8094290829520588],
 0.804953252436841)

In [271]:
#df는 안됨
for train_index, test_index in s_fold.split(total_data,target_data):
    #index를 이용해서 trian/test set 조회
    X_train, y_train = total_data[train_index], target_data[train_index]
    X_test, y_test = total_data[test_index], target_data[test_index]
    
    #모델 생성
    tree = DecisionTreeClassifier()
    
    #학습
    tree.fit(X_train, y_train)
    
    #예측
    pred_train = tree.predict(X_train)
    pred_test = tree.predict(X_test)
    
    #평가
    acc_train = accuracy_score(y_train, pred_train)
    acc_test = accuracy_score(y_test, pred_test)

KeyError: "None of [Int64Index([10003, 10004, 10005, 10006, 10008, 10010, 10011, 10013, 10014,\n            10015,\n            ...\n            30152, 30153, 30154, 30155, 30156, 30157, 30158, 30159, 30160,\n            30161],\n           dtype='int64', length=20108)] are in the [columns]"

In [288]:
#최종평가 > test set 마지막 한번
test_pred = tree.predict(X_test)
accuracy_score(y_test, test_pred)

0.8094290829520588