In [3]:
#레이블 인코딩
"""
문자열(범주형) 값을 오름차순 정렬 후 0 부터 1씩 증가하는 값으로 변환
숫자의 차이가 모델에 영향을 주지 않는 트리 계열 모델(의사결정나무, 랜덤포레스트)에 적용한다.
숫자의 차이가 모델에 영향을 미치는 선형 계열 모델(로지스틱회귀, SVM, 신경망)에는 사용하면 안된다.

선형결합을 위해 숫자로 변환한 것이고 이것은 기호로써 작용한다고 보면 됨.

"""
print('')

In [7]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
#사이킷런은 속성뒤에 언더바가 붙음
items=['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV']

In [8]:
encoder=LabelEncoder()#생성
encoder.fit(items)#학습 고유값을 찾아서 정렬후 0부터 1씩 증가하는 정수 매핑
labels = encoder.transform(items) #변환

In [9]:
print('인코딩 변환값:',labels)

array([0, 1, 3, 3, 1, 2, 0, 0])

In [10]:
print('인코딩 클래스:',encoder.classes_)#배열의 index가 변환된 정수

array(['TV', '냉장고', '에어컨', '컴퓨터'], dtype='<U3')

In [11]:
print('디코딩 원본 값:',encoder.inverse_transform([1, 0, 2, 0, 1, 1, 3, 3]))

디코딩 원본 값: ['냉장고' 'TV' '에어컨' 'TV' '냉장고' '냉장고' '컴퓨터' '컴퓨터']

In [13]:
le2=LabelEncoder()
item_labels = le2.fit_transform(items)
item_labels

array([0, 1, 3, 3, 1, 2, 0, 0], dtype=int64)

In [14]:
items1 = ['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV']
items2 = ['TV',"TV",'냉장고']
le3 = LabelEncoder()
item_labels1 = le3.fit_transform(items1)#item1로 학습 후 item1을 변환
item_labels2 = le3.transform(items2)
print("item_labels1:", item_labels1)
print("item_labels2:", item_labels2)

item_labels1: [0 1 3 3 1 2 0 0]
item_labels2: [0 0 1]

In [15]:
items3 = ['TV','핸드폰'] #학습시 없는 class를 변환할 경우 exception 발생
le3.transform(items3)
#fit은 어떻게 학습하는지 찾는것

ValueError: y contains previously unseen labels: '핸드폰'

In [ ]:
#실습################################################################################

In [2]:
import pandas as pd

cols = ['age', 'workclass','fnlwgt','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','capital-gain','capital-loss', 'hours-per-week','native-country', 'income']
data  = pd.read_csv('./data/adult.data', 
                    header=None, #컬럼 없음
                    names=cols,  #컬럼명 지정
                    na_values='?', #?는 (NA)결측치로 읽으라는 것
                    skipinitialspace=True) #글자의 앞에오는 공백 제거
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#결측치 처리
#위에서 ?를 문자가 아닌 결측치로 읽어들여서 확인되는 것임
#?를 문자로 읽어들인다면 
data.isnull() #cell 별로 결측치 여부 확인
data.isnull().sum() #true:1, False:0 > 컬럼단위로 합계를 구함

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
data.dropna()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
#inplace 옵션을 안붙이면 원본은 안바뀌고 결측치 행이 삭제된 새로운 복사본 생성
data.dropna(inplace=True) #이러면 원본 변경

In [7]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [8]:
data.shape

(30162, 15)

In [9]:
##todo

In [10]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
"""
TODO: encoding_columns 레이블 인코딩 처리
범주형: 'workclass','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','native-country', 'income'
연속형: 'age', fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'
아래 encoding_columns 컬럼들은 Label Encoding 처리,
not_encoding_columns 컬럼들의 값들은 그대로 유지.
"""

"\nTODO: encoding_columns 레이블 인코딩 처리\n범주형: 'workclass','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','native-country', 'income'\n연속형: 'age', fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'\n아래 encoding_columns 컬럼들은 Label Encoding 처리,\nnot_encoding_columns 컬럼들의 값들은 그대로 유지.\n"

In [12]:
encoding_columns = ['workclass','education','marital-status', 'occupation','relationship','race','gender','native-country', 'income']
not_encoding_columns = ['age','fnlwgt', 'education-num','capital-gain','capital-loss','hours-per-week']

In [13]:
for i in data.columns:
    print(i, type(i))

age <class 'str'>
workclass <class 'str'>
fnlwgt <class 'str'>
education <class 'str'>
education-num <class 'str'>
marital-status <class 'str'>
occupation <class 'str'>
relationship <class 'str'>
race <class 'str'>
gender <class 'str'>
capital-gain <class 'str'>
capital-loss <class 'str'>
hours-per-week <class 'str'>
native-country <class 'str'>
income <class 'str'>

In [14]:
'workclass' in encoding_columns

True

In [15]:
data['workclass']

0               State-gov
1        Self-emp-not-inc
2                 Private
3                 Private
4                 Private
               ...
32556             Private
32557             Private
32558             Private
32559             Private
32560        Self-emp-inc
Name: workclass, Length: 30162, dtype: object

In [16]:
encoder0=LabelEncoder()#생성
encoder0.fit(data['workclass'])#학습 고유값을 찾아서 정렬후 0부터 1씩 증가하는 정수 매핑
labels0 = encoder0.transform(data['workclass']) #변환
labels0

NameError: name 'LabelEncoder' is not defined

In [17]:
data0=data
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
not_encoding_columns

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [19]:
#레이블 인코딩 처리
#연속형 자체는 숫자에 의미가 있기 때문에 함부로 레이블 인코딩 하지 않도록 한다.
from sklearn.preprocessing import LabelEncoder
import numpy as np
for i in data.columns:
    if i in encoding_columns:
        print(i)
        encoder0 = LabelEncoder()
        encoder0.fit(data[i])
        data[i] = encoder0.transform(data[i]) #변환
    else:
        pass
data

workclass
education
marital-status
occupation
relationship
race
gender
native-country
income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [22]:
"""
5.1  Adult datast의 income 추론 모델링
5.1.1  데이터 분할
X, y 나누기
train/validation/test set 나누기
"""
print('')

In [23]:
total_data = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13]]
target_data = data.iloc[:, [-1]]

In [24]:
#type(total_data)
#type(target_data)
X=total_data.to_numpy()
y=data.iloc[:,-1].to_numpy()

In [25]:
from sklearn.model_selection import StratifiedKFold

s_fold = StratifiedKFold(n_splits=3)
acc_train_list = []
acc_test_list = []

In [26]:
ex= s_fold.split(X,y)
next(ex)

(array([10003, 10004, 10005, ..., 30159, 30160, 30161]),
 array([    0,     1,     2, ..., 10191, 10193, 10194]))

In [27]:
#위와 동일
#ex= s_fold.split(total_data,target_data)
#next(ex)

In [29]:
"""
5.1.2  모델생성, 학습
DecisionTreeClassifier
"""
print('')

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
for train_index, test_index in s_fold.split(X,y):
    #index를 이용해서 trian/test set 조회
    X_train, y_train = X[train_index], y[train_index]
    X_test, y_test = X[test_index], y[test_index]
    
    #모델 생성
    tree = DecisionTreeClassifier()
    
    #학습
    tree.fit(X_train, y_train)
    
    #예측
    pred_train = tree.predict(X_train)
    pred_test = tree.predict(X_test)
    
    #평가-정확도
    acc_train = accuracy_score(y_train, pred_train)
    acc_test = accuracy_score(y_test, pred_test)
    #평가결과를 리스트에 추가
    acc_train_list.append(acc_train)
    acc_test_list.append(acc_test)

In [35]:
acc_train_list, np.mean(acc_train_list)

([1.0, 0.9999502685498309, 1.0], 0.9999834228499437)

In [36]:
acc_test_list, np.mean(acc_test_list)

([0.8044559379351501, 0.8028645315297394, 0.8099263974537497],
 0.8057489556395464)

In [37]:
#df는 안됨
for train_index, test_index in s_fold.split(total_data,target_data):
    #index를 이용해서 trian/test set 조회
    X_train, y_train = total_data[train_index], target_data[train_index]
    X_test, y_test = total_data[test_index], target_data[test_index]
    
    #모델 생성
    tree = DecisionTreeClassifier()
    
    #학습
    tree.fit(X_train, y_train)
    
    #예측
    pred_train = tree.predict(X_train)
    pred_test = tree.predict(X_test)
    
    #평가
    acc_train = accuracy_score(y_train, pred_train)
    acc_test = accuracy_score(y_test, pred_test)

KeyError: "None of [Int64Index([10003, 10004, 10005, 10006, 10008, 10010, 10011, 10013, 10014,\n            10015,\n            ...\n            30152, 30153, 30154, 30155, 30156, 30157, 30158, 30159, 30160,\n            30161],\n           dtype='int64', length=20108)] are in the [columns]"

In [288]:
#최종평가 > test set 마지막 한번
test_pred = tree.predict(X_test)
accuracy_score(y_test, test_pred)

0.8094290829520588

In [39]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.datasets import load_iris
import numpy as np

dt_clf = DecisionTreeClassifier(random_state=156)

#total_data>>X
#iris_data.target>>y

scores = cross_val_score(dt_clf , X , y , scoring='accuracy',cv=3)
print('교차 검증별 정확도:',np.round(scores, 4))
print('평균 검증 정확도:', np.round(np.mean(scores), 4))

교차 검증별 정확도: [0.8056 0.8047 0.8099]
평균 검증 정확도: 0.8067

In [ ]:
###강사풀이

In [208]:
import pandas as pd

cols = ['age', 'workclass','fnlwgt','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','capital-gain','capital-loss', 'hours-per-week','native-country', 'income']
data  = pd.read_csv('./data/adult.data', 
                    header=None, #컬럼 없음
                    names=cols,  #컬럼명 지정
                    na_values='?', #?는 (NA)결측치로 읽으라는 것
                    skipinitialspace=True) #글자의 앞에오는 공백 제거
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [209]:
#inplace 옵션을 안붙이면 원본은 안바뀌고 결측치 행이 삭제된 새로운 복사본 생성
data.dropna(inplace=True) #이러면 원본 변경

In [210]:
encoding_columns = ['workclass','education','marital-status', 'occupation','relationship','race','gender','native-country', 'income']
not_encoding_columns = ['age','fnlwgt', 'education-num','capital-gain','capital-loss','hours-per-week']

In [211]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#le.fit_transform()
#e=le.transform(data['workclass'])

e= le.fit_transform(data['workclass'])
print(le.classes_)
e

['Federal-gov' 'Local-gov' 'Private' 'Self-emp-inc' 'Self-emp-not-inc'
 'State-gov' 'Without-pay']

array([5, 4, 2, ..., 2, 2, 3])

In [212]:
#혹시나 해서 원본 만들어둠
#df 복사
adult_df =data.copy()

In [213]:
dic={}
#key:columns이름 , value: [classes_, labelEncoder 객체]
#변환한 값은 df에 직접 적용

for col in encoding_columns:
    le = LabelEncoder()
    #labelencoding 된 값을 원래 컬러의 값으로 대체
    adult_df[col]=le.fit_transform(adult_df[col]) 
    #dict에 column명 : [classes_, le] 추가
    dic[col] = [le.classes_, le]

In [214]:
adult_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [215]:
dic

{'workclass': [array(['Federal-gov', 'Local-gov', 'Private', 'Self-emp-inc',
         'Self-emp-not-inc', 'State-gov', 'Without-pay'], dtype=object),
  LabelEncoder()],
 'education': [array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
         'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
         'Masters', 'Preschool', 'Prof-school', 'Some-college'],
        dtype=object),
  LabelEncoder()],
 'marital-status': [array(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
         'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
        dtype=object),
  LabelEncoder()],
 'occupation': [array(['Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial',
         'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct',
         'Other-service', 'Priv-house-serv', 'Prof-specialty',
         'Protective-serv', 'Sales', 'Tech-support', 'Transport-moving'],
        dtype=object),
  LabelEncoder()],
 'relationship': [array(['Husband', 'Not-in-family', 'Other-relative', 'Own-child',
         'Unmarried', 'Wife'], dtype=object),
  LabelEncoder()],
 'race': [array(['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other',
         'White'], dtype=object),
  LabelEncoder()],
 'gender': [array(['Female', 'Male'], dtype=object), LabelEncoder()],
 'native-country': [array(['Cambodia', 'Canada', 'China', 'Columbia', 'Cuba',
         'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
         'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
         'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
         'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico',
         'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines',
         'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan',
         'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
         'Yugoslavia'], dtype=object),
  LabelEncoder()],
 'income': [array(['<=50K', '>50K'], dtype=object), LabelEncoder()]}

In [216]:
#어떤 값들이 변했는지 확인
dic['education'][0]

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [217]:
##apply함수 이용
"""
 dataframe이나 series 원소들을 일괄처리하는 함수 
 dataframe객체.apply(함수)
 - 컬럼, 행 단위 일괄 처리(디폴트는 컬럼단위)
 series객체.apply(함수)
 - 원소별 일괄 처리

a=[1,2,3,4,5]
a.apply(*2)는
lambda x: x*2와 동일
"""
print('')

## 번외 (apply로 일괄처리하기)

In [218]:
d=pd.DataFrame({
    "a":[1,2,3],
    "b":[10,20,30]
})
d

   a   b
0  1  10
1  2  20
2  3  30

In [219]:
def func(x):
    print(type(x), x)

In [220]:
d['a'].apply(func)
#반환값이 없어서 none이 나오는 것임

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3

0    None
1    None
2    None
Name: a, dtype: object

In [221]:
def func(x):
    print(type(x), x)
    return x*2

In [222]:
d['a'].apply(func)
#반환값이 없어서 none이 나오는 것임

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3

0    2
1    4
2    6
Name: a, dtype: int64

In [223]:
#series에 apply 적용
#람다식 활용
r=d['a'].apply(lambda x:x*2)
r

0    2
1    4
2    6
Name: a, dtype: int64

In [224]:
#응용
#column단위로 넘어온다는 것을 확인
d.apply(func)

<class 'pandas.core.series.Series'> 0    1
1    2
2    3
Name: a, dtype: int64
<class 'pandas.core.series.Series'> 0    10
1    20
2    30
Name: b, dtype: int64

   a   b
0  2  20
1  4  40
2  6  60

## LabelEncoder 처리함수

In [225]:
d['a'].name

'a'

In [226]:
## LabelEncoding 처리 함수
dic2 = {}
def le_func(x):
    #범주형 Feature를 받아서 LabelEncoding후 반환
    le= LabelEncoder()
    label=le.fit_transform(x)
    #serise.name: series의 이름 -Dataframe의 컬럼에서 조회된 시리즈일 경우 컬럼명이 반환
    #LabelEncoder함수에 그대로 변환된 값을 받음
    dic2[x.name] = [le.classes_, le]
    return label

In [227]:
#팬시 인덱싱
data[encoding_columns].apply(le_func)

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,5,9,4,0,1,4,1,38,0
1,4,9,2,3,0,4,1,38,0
2,2,11,0,5,1,4,1,38,0
3,2,1,2,5,0,2,1,38,0
4,2,9,2,9,5,2,0,4,0
...,...,...,...,...,...,...,...,...,...
32556,2,7,2,12,5,4,0,38,0
32557,2,11,2,6,0,4,1,38,1
32558,2,11,6,0,4,4,0,38,0
32559,2,11,4,0,3,4,1,38,0
32560,3,11,2,3,5,4,0,38,1

In [228]:
#팬시 인덱싱2
data[encoding_columns].apply(le_func)

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,5,9,4,0,1,4,1,38,0
1,4,9,2,3,0,4,1,38,0
2,2,11,0,5,1,4,1,38,0
3,2,1,2,5,0,2,1,38,0
4,2,9,2,9,5,2,0,4,0
...,...,...,...,...,...,...,...,...,...
32556,2,7,2,12,5,4,0,38,0
32557,2,11,2,6,0,4,1,38,1
32558,2,11,6,0,4,4,0,38,0
32559,2,11,4,0,3,4,1,38,0
32560,3,11,2,3,5,4,0,38,1

In [229]:
#encoding_columns변수를 그냥 받아서 컬럼조회에 사용
encoding_df=data[encoding_columns].apply(le_func)

In [230]:
#join
#인코딩된 df과 원본의 연속형 feature들을 합침
result_df = encoding_df.join(data[not_encoding_columns])
result_df

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,5,9,4,0,1,4,1,38,0,39,77516,13,2174,0,40
1,4,9,2,3,0,4,1,38,0,50,83311,13,0,0,13
2,2,11,0,5,1,4,1,38,0,38,215646,9,0,0,40
3,2,1,2,5,0,2,1,38,0,53,234721,7,0,0,40
4,2,9,2,9,5,2,0,4,0,28,338409,13,0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2,7,2,12,5,4,0,38,0,27,257302,12,0,0,38
32557,2,11,2,6,0,4,1,38,1,40,154374,9,0,0,40
32558,2,11,6,0,4,4,0,38,0,58,151910,9,0,0,40
32559,2,11,4,0,3,4,1,38,0,22,201490,9,0,0,20
32560,3,11,2,3,5,4,0,38,1,52,287927,9,15024,0,40

In [231]:
result_df.shape

(30162, 15)

In [232]:
result_df.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,5,9,4,0,1,4,1,38,0,39,77516,13,2174,0,40
1,4,9,2,3,0,4,1,38,0,50,83311,13,0,0,13
2,2,11,0,5,1,4,1,38,0,38,215646,9,0,0,40
3,2,1,2,5,0,2,1,38,0,53,234721,7,0,0,40
4,2,9,2,9,5,2,0,4,0,28,338409,13,0,0,40

# adult dataet의 income 추론 모델링

## 데이터  분할

In [233]:
#X,y(y=income, X=나머지)
y=adult_df['income'] 
X=adult_df.drop(columns="income")
X.shape

(30162, 14)

In [234]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int32

In [235]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4

In [236]:
#train/test/validation set 분리
from sklearn.model_selection import train_test_split
#Test set 분리
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify=y)

y_train.shape, y_test.shape

((24129,), (6033,))

In [237]:
#train/validation 분리
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, stratify=y_train)
y_train.shape, y_test.shape

((18096,), (6033,))

##  모델 생성, 학습

In [238]:
#모델생성
from sklearn.tree import DecisionTreeClassifier
dt_clf0 = DecisionTreeClassifier()

In [239]:
#학습
dt_clf0.fit(X_train, y_train)

DecisionTreeClassifier()

## 검증

In [240]:
#정확도
#train_validation 데이터셋을 기준으로 검증

In [241]:
#추론(예측)-predict(), predict_proba()
            #예측한 라벨, 확률알려줌
pred_train = dt_clf0.predict(X_train)
pred_val = dt_clf0.predict(X_val)

print(pred_train.shape, pred_val.shape)

(18096,) (6033,)

In [242]:
#예측한 값 확인
print(pred_train[:10])
print(y_train[:10].values)

[0 1 0 0 0 1 0 1 0 0]
[0 1 0 0 0 1 0 1 0 0]

In [246]:
#정확도 평가
from sklearn.metrics import accuracy_score

acc_train = accuracy_score(y_train,pred_train) #정답, 예측
acc_val= accuracy_score(y_val, pred_val) 
print("train_set:",acc_train, " validation set:",acc_val)

train_set: 1.0  validation set: 0.8123653240510526

In [261]:
#성능 높이기

#stratity에는 층을 구분할 변수를 넣음

#max_depth 값을 변형해봄
#모델생성
from sklearn.tree import DecisionTreeClassifier
dt_clf0 = DecisionTreeClassifier(max_depth=100)
#학습
dt_clf0.fit(X_train, y_train)
#추론(예측)-predict(), predict_proba()
            #예측한 라벨, 확률알려줌
pred_train = dt_clf0.predict(X_train)
pred_val = dt_clf0.predict(X_val)

#정확도 평가
from sklearn.metrics import accuracy_score

acc_train = accuracy_score(y_train,pred_train) #정답, 예측
acc_val= accuracy_score(y_val, pred_val) 
print("train_set:",acc_train, " validation set:",acc_val)

train_set: 1.0  validation set: 0.8115365489806067

In [ ]:
#max_depth없을때  train_set: 1.0  validation set: 0.8117023039946958
#1일때 train_set: 0.751105216622458  validation set: 0.7510359688380573
#2일때 train_set: 0.8226679929266136  validation set: 0.8242996850654732
#3일때 train_set: 0.8370358090185677  validation set: 0.8388861263053208
#7일때 train_set: 0.8599690539345711  validation set: 0.8533068125310791
#100일때 train_set: 1.0  validation set: 0.8115365489806067

## 최종평가

In [262]:
pred_test = dt_clf0.predict(X_test)
accuracy_score(y_test, pred_test)

0.8027515332338804

In [263]:
#########################################################################

## random_state(번외)

In [ ]:
#내부 로직상 랜덤값을 사용하기 때문에 난수고정
#난수를 고정하는 이유는
#내부 로직상 사용하는 랜덤함수에 의해서 성능이 나아진 건지 
#아니면 다른 변수로 인해 성능이 나아진 건지 확인할 수 없으므로 
#반드시 난수를 고정해주도록 하자

In [265]:
#정리
import pandas as pd
data=pd.read_csv('',
                header=None,
                na_values='?',
                skipinitialspace=True)

data.dropna(inplace=True)
#인코딩 패스

from sklearn.model_selection import train_test_split

#stratify는 범주 분류시에
train_x. test_x, train_y, test_y = train_test_split(data[x], data[y], test_size=0.2, stratify=data[y])

train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, stratify=train_y)

#학습
from sklearn.tree import DesicionTreeClassification
Dc = DecisionTreeClassifier()
Dc.fit(Train_x,Train_y)

#예측
#train데이터셋 기준
pred_y=Dc.predict(train_x)
#test셋 기준
pred_val=Dc.predict(val_x)

#검증
from sklearn.metrics import accuracy_score
acc_train = accuracy_score(train_y, pred_y)
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
acc_test = sccuracy_score(y_val, pred_val)

#최종평가 #####!!!!!!!!!!!!!!
pred_test = Dc.predict(test_x)
accuracy_score(test_y, pred_test)

ModuleNotFoundError: No module named 'pd'

# 원핫인코딩

- **Scikit-learn**
    - sklearn.preprocessing.OneHotEncoder 이용
        - fit(데이터셋): 데이터셋을 기준으로 어떻게 변환할 지 학습
        - transform(데이터셋): Argument로 받은 데이터셋을 원핫인코딩 처리
        - fit_transform(데이터셋): 학습과 변환을 한번에 처리
        - get_feature_names() : 원핫인코딩으로 변환된 컬럼의 이름을 반환
        - **데이터셋은 2차원 배열을 전달 하며 Feature별로 원핫인코딩 처리한다.**
            - DataFrame도 가능
            - 원핫인코딩 처리시 모든 타입의 값들을 다 변환한다. (연속형 값들도 변환) 그래서 변환하려는 변수들만 모아서 처리해야 한다.

- **Pandas**
    - pandas.get_dummies(DataFrame [, columns=[변환할 컬럼명]]) 함수 이용
    - DataFrame에서 범주형(`object`, `category`) 변수만 변환한다.
    
> 범주형 변수의 값을 숫자 값을 가지는 경우가 있다. (ex: 별점)    
> 이런 경우 get_dummies() columns=['컬럼명','컬럼명'] 매개변수로 컬럼들을 명시한다.

In [267]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd

items=np.array(['TV','냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서'])
np.unique(items)

array(['TV', '냉장고', '믹서', '선풍기', '전자렌지', '컴퓨터'], dtype='<U4')

In [268]:
items.shape #1차원 배열

(8,)

In [280]:
print(items.shape)
#...우측의 것을 받아서 새로운 열을 만듦
items[...,np.newaxis]

(8,)

array([['TV'],
       ['냉장고'],
       ['전자렌지'],
       ['컴퓨터'],
       ['선풍기'],
       ['선풍기'],
       ['믹서'],
       ['믹서']], dtype='<U4')

In [281]:
items[:,np.newaxis]

array([['TV'],
       ['냉장고'],
       ['전자렌지'],
       ['컴퓨터'],
       ['선풍기'],
       ['선풍기'],
       ['믹서'],
       ['믹서']], dtype='<U4')

In [273]:
items.reshape(4,2)

array([['TV', '냉장고'],
       ['전자렌지', '컴퓨터'],
       ['선풍기', '선풍기'],
       ['믹서', '믹서']], dtype='<U4')

In [278]:
oh_encoder = OneHotEncoder() 

#oh.encoder.fit(items)
oh_encoder.fit(items[...,np.newaxis])
#scipy에서 희소행렬을 표현하는 방식
r = oh_encoder.transform(items[...,np.newaxis])
print(r)
type(r)

  (0, 0)	1.0
  (1, 1)	1.0
  (2, 4)	1.0
  (3, 5)	1.0
  (4, 3)	1.0
  (5, 3)	1.0
  (6, 2)	1.0
  (7, 2)	1.0

scipy.sparse.csr.csr_matrix

In [276]:
#희소행렬을 ndarray 변환
r.toarray()
#6x8x32bit

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [ ]:
oh_encoder.get_feature_names()

In [279]:
pd.DataFrame(r.toarray(), columns=oh_encoder.get_feature_names())

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   x0_TV  x0_냉장고  x0_믹서  x0_선풍기  x0_전자렌지  x0_컴퓨터
0    1.0     0.0    0.0     0.0      0.0     0.0
1    0.0     1.0    0.0     0.0      0.0     0.0
2    0.0     0.0    0.0     0.0      1.0     0.0
3    0.0     0.0    0.0     0.0      0.0     1.0
4    0.0     0.0    0.0     1.0      0.0     0.0
5    0.0     0.0    0.0     1.0      0.0     0.0
6    0.0     0.0    1.0     0.0      0.0     0.0
7    0.0     0.0    1.0     0.0      0.0     0.0

In [282]:
oh_encoder.get_feature_names()

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_TV', 'x0_냉장고', 'x0_믹서', 'x0_선풍기', 'x0_전자렌지', 'x0_컴퓨터'],
      dtype=object)

In [283]:
pd.DataFrame(r.toarray(), columns=oh_encoder.get_feature_names())

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   x0_TV  x0_냉장고  x0_믹서  x0_선풍기  x0_전자렌지  x0_컴퓨터
0    1.0     0.0    0.0     0.0      0.0     0.0
1    0.0     1.0    0.0     0.0      0.0     0.0
2    0.0     0.0    0.0     0.0      1.0     0.0
3    0.0     0.0    0.0     0.0      0.0     1.0
4    0.0     0.0    0.0     1.0      0.0     0.0
5    0.0     0.0    0.0     1.0      0.0     0.0
6    0.0     0.0    1.0     0.0      0.0     0.0
7    0.0     0.0    1.0     0.0      0.0     0.0

In [284]:
import pandas as pd
df = pd.DataFrame({'item':['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV'], 
                   'count':[10,10,5,10,5,15,15,5], 
                   'price':np.random.randint(100000,1000000, size=8)})
df

  item  count   price
0   TV     10  630039
1  냉장고     10  291798
2  컴퓨터      5  684169
3  컴퓨터     10  926757
4  냉장고      5  283777
5  에어컨     15  121376
6   TV     15  478327
7   TV      5  115560

In [329]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False) #sparse=true가 기본값, scipy의 희소행렬객체로 반환.
                                   #False면 ndarray로 반환
#학습
#df의 모든 feature에 대해 onehot encoding 처리(범주형, 연속형 상관없이)
#학습할 때는 범주형 feature만 선택해서 변환
ohe.fit(df)
#변환
r_ohe = ohe.transform(df)
print(ohe.get_feature_names())
r_ohe[:5,:]

['x0_TV' 'x0_냉장고' 'x0_에어컨' 'x0_컴퓨터' 'x1_5' 'x1_10' 'x1_15' 'x2_115560'
 'x2_121376' 'x2_283777' 'x2_291798' 'x2_478327' 'x2_630039' 'x2_684169'
 'x2_926757']

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array([[1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.]])

In [315]:
pd.DataFrame(r_ohe.astype(np.int), columns=ohe.get_feature_names())

C:\Users\user\AppData\Local\Temp/ipykernel_5372/64737520.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  pd.DataFrame(r_ohe.astype(np.int), columns=ohe.get_feature_names())
C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,x0_TV,x0_냉장고,x0_에어컨,x0_컴퓨터,x1_5,x1_10,x1_15,x2_115560,x2_121376,x2_283777,x2_291798,x2_478327,x2_630039,x2_684169,x2_926757
0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
5,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
6,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0
7,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0

In [331]:
#sklearn은 2차원 배열을 넣으면 모든 배열을 원핫인코딩 해버림
#원핫인코딩은 범주형 배열에만 적용 count,price는 적용하지 않는다.
#df 에서 범주형 (item)만 원핫 인코딩 처리
item = df['item']
item.shape

(8,)

In [317]:
#seriese는 reshape이 안되므로 numpy배열로 변환해야 함.
#series/dataframe.values > ndarray 변환
item.values

array(['TV', '냉장고', '컴퓨터', '컴퓨터', '냉장고', '에어컨', 'TV', 'TV'], dtype=object)

In [332]:
item=item.values[:, np.newaxis]
item.shape
item

array([['TV'],
       ['냉장고'],
       ['컴퓨터'],
       ['컴퓨터'],
       ['냉장고'],
       ['에어컨'],
       ['TV'],
       ['TV']], dtype=object)

In [340]:
ohe = OneHotEncoder(sparse=False)
item_e = ohe.fit_transform(item)
ohe.get_feature_names()
#item_e

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_TV', 'x0_냉장고', 'x0_에어컨', 'x0_컴퓨터'], dtype=object)

In [341]:
item_e

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.]])

In [338]:
#item_e를 df로 변환 #확인
# item_e = pd.DataFrame(item_e) 
# item_e

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  1.0
4  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  1.0  0.0  0.0  0.0
7  1.0  0.0  0.0  0.0

In [342]:
#df에 df을 넣어서 df을 만드려고 하면 값이 none이 되어버림
item_e_df = pd.DataFrame(item_e, columns=ohe.get_feature_names())
item_e_df

C:\Users\user\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   x0_TV  x0_냉장고  x0_에어컨  x0_컴퓨터
0    1.0     0.0     0.0     0.0
1    0.0     1.0     0.0     0.0
2    0.0     0.0     0.0     1.0
3    0.0     0.0     0.0     1.0
4    0.0     1.0     0.0     0.0
5    0.0     0.0     1.0     0.0
6    1.0     0.0     0.0     0.0
7    1.0     0.0     0.0     0.0

In [343]:
#item_e_df + 나머지 합치기
pd.concat([item_e_df, df[['count','price']]], axis=1) #열로 붙이기

   x0_TV  x0_냉장고  x0_에어컨  x0_컴퓨터  count   price
0    1.0     0.0     0.0     0.0     10  630039
1    0.0     1.0     0.0     0.0     10  291798
2    0.0     0.0     0.0     1.0      5  684169
3    0.0     0.0     0.0     1.0     10  926757
4    0.0     1.0     0.0     0.0      5  283777
5    0.0     0.0     1.0     0.0     15  121376
6    1.0     0.0     0.0     0.0     15  478327
7    1.0     0.0     0.0     0.0      5  115560

In [ ]:
#pandas

In [287]:
df

  item  count   price
0   TV     10  630039
1  냉장고     10  291798
2  컴퓨터      5  684169
3  컴퓨터     10  926757
4  냉장고      5  283777
5  에어컨     15  121376
6   TV     15  478327
7   TV      5  115560

In [288]:
#object(문자열)컬럼만 변환
#object,categorical 타입들만 모듀 변환, (숫자형은 변환안함.)
pd.get_dummies(df)

   count   price  item_TV  item_냉장고  item_에어컨  item_컴퓨터
0     10  630039        1         0         0         0
1     10  291798        0         1         0         0
2      5  684169        0         0         0         1
3     10  926757        0         0         0         1
4      5  283777        0         1         0         0
5     15  121376        0         0         1         0
6     15  478327        1         0         0         0
7      5  115560        1         0         0         0

In [289]:
#columns에 변환할 컬럼명시하면 해당 컬럼만 변환
pd.get_dummies(df, columns=['count', 'item']) #변환할 컬럼 지정

    price  count_5  count_10  count_15  item_TV  item_냉장고  item_에어컨  item_컴퓨터
0  630039        0         1         0        1         0         0         0
1  291798        0         1         0        0         1         0         0
2  684169        1         0         0        0         0         0         1
3  926757        0         1         0        0         0         0         1
4  283777        1         0         0        0         1         0         0
5  121376        0         0         1        0         0         1         0
6  478327        0         0         1        1         0         0         0
7  115560        1         0         0        1         0         0         0

# TODO: adult dataset에 one-hot encoding 적용
- 범주형: 'workclass','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender', 'native-country', 'income'
- 연속형: 'age', fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week'
- **위 Feature 중 'age', 'workclass','education', 'occupation', 'gender', 'hours-per-week' 만 사용한다.**
- 범주형 Feature중 **income은 출력 데이터이므로 Label Encoding 처리**를 한다.
- 나머지 범주형Feature들은 One-hot encoding 처리한다.

1. DataSet 읽기

2. 결측치 처리 (제거)

3. One hot encoding

4. 모델링
    - Train/Test set 분리
    - 모델 생성
    - 학습
    - 검증

In [506]:
import pandas as pd

cols = ['age', 'workclass','fnlwgt','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','capital-gain','capital-loss', 'hours-per-week','native-country', 'income']
data  = pd.read_csv('data/adult.data', 
                    header=None, 
                    names=cols, na_values='?',
                    skipinitialspace=True)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [507]:
#결측치 제거
data.dropna(inplace=True)

In [508]:
#DecisiontreeClassifier 로 학습

In [509]:
check=['age', 'workclass','education', 'occupation', 'gender', 'hours-per-week']

In [510]:
#필요한 feature만 추출
using=data[check]
using

,age,workclass,education,occupation,gender,hours-per-week
0,39,State-gov,Bachelors,Adm-clerical,Male,40
1,50,Self-emp-not-inc,Bachelors,Exec-managerial,Male,13
2,38,Private,HS-grad,Handlers-cleaners,Male,40
3,53,Private,11th,Handlers-cleaners,Male,40
4,28,Private,Bachelors,Prof-specialty,Female,40
...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Tech-support,Female,38
32557,40,Private,HS-grad,Machine-op-inspct,Male,40
32558,58,Private,HS-grad,Adm-clerical,Female,40
32559,22,Private,HS-grad,Adm-clerical,Male,20
32560,52,Self-emp-inc,HS-grad,Exec-managerial,Female,40

In [511]:
#income 변환
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
yy=le.fit_transform(data['income'])
yy[:]

array([0, 0, 0, ..., 0, 0, 1])

In [512]:
#onehotencoder 사용해서 변환
from sklearn.preprocessing import OneHotEncoder
#sparse=true가 기본값, scipy의 희소행렬객체로 반환.
       #False면 ndarray로 반환
ohe = OneHotEncoder(sparse=False)

rest_df = ohe.fit_transform(using[['workclass','education', 'occupation', 'gender']])
rest_df

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [513]:
ohe.get_feature_names_out()

array(['workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_Assoc-acdm',
       'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'occupation_Adm-clerical',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'gender_Female', 'gender_Male'],
      dtype=object)

In [514]:
# pandas get_dummies() 사용해 변환
enc_using=pd.get_dummies(using)
pd.get_dummies(using)

,age,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,...,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,gender_Female,gender_Male
0,39,40,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,50,13,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,38,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,53,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,28,40,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
32557,40,40,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32558,58,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32559,22,20,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32560,52,40,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [515]:
#
enc_using.columns

Index(['age', 'hours-per-week', 'workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_Assoc-acdm',
       'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate',
       'education_HS-grad', 'education_Masters', 'education_Preschool',
       'education_Prof-school', 'education_Some-college',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'gender_Female', 'gender_Male'],
      dtype='object')

In [516]:
#인코딩된 df과 원본의 연속형 feature들을 합침
rest_df = data[['age', 'hours-per-week']].values
rest_df

array([[39, 40],
       [50, 13],
       [38, 40],
       ...,
       [58, 40],
       [22, 20],
       [52, 40]], dtype=int64)

In [518]:
#왜 안되니...
X2 = np.concatenate([rest_df,yy], axis=1)
X2.shape

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [401]:
#모델학습하기
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, y_train, x_test, y_test = train_test_split(enc_using, income_r, test_size=0.2, stratity=income_r)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.3, stratity=y_train)

In [426]:
#모델 생성하기
clf1 = DecisionTreeClassifier(max_depth=5)
clf1.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [427]:
#추론하기
pred_train = clf1.predict (X_train) 
pred_val = clf1.predict(X_val)

pred_train, pred_val

(array([0, 0, 0, ..., 0, 0, 0]), array([1, 0, 1, ..., 1, 1, 1]))

In [428]:
#정확도평가
acc_train = accuracy_score(y_train, pred_train) 
acc_test = accuracy_score(y_val, pred_val)

acc_train, acc_test

(0.8530614500442086, 0.850488977291563)

In [ ]:
#max=none (1.0, 0.811868059008785)
#1 (0.751105216622458, 0.7510359688380573)
#2 (0.8226679929266136, 0.8242996850654732)
#3 (0.8370358090185677, 0.8388861263053208)
#5 (0.8530614500442086, 0.8503232222774739)
#10 (0.876657824933687, 0.8498259572352064)
#max_depth=5일때가 가장 높음

In [430]:
#최종 평가
prd_test=clf1.predict(X_test)
accuracy_score(y_test, prd_test)

0.8408751864743909

In [441]:
#강사님 버전
import pandas as pd
import numpy as np

cols = ['age', 'workclass','fnlwgt','education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'gender','capital-gain','capital-loss', 'hours-per-week','native-country', 'income']

df = pd.read_csv('./data/adult.data',
                header=None,
                na_values='?',
                names=cols,
                skipinitialspace=True)
df.shape

(32561, 15)

In [442]:
#결측치 제거
df.dropna(inplace=True)

In [443]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [444]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [446]:
#필요한 Feature들만 추출
c = [ 'age', 'workclass','education', 'occupation', 'gender', 'hours-per-week' ]
X=df[c]
X.head()

   age         workclass  education         occupation  gender  hours-per-week
0   39         State-gov  Bachelors       Adm-clerical    Male              40
1   50  Self-emp-not-inc  Bachelors    Exec-managerial    Male              13
2   38           Private    HS-grad  Handlers-cleaners    Male              40
3   53           Private       11th  Handlers-cleaners    Male              40
4   28           Private  Bachelors     Prof-specialty  Female              40

In [451]:
#income(출력데이터): LabelEncoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y=le.fit_transform(df['income'])
y[:10]

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1])

In [453]:
#원핫인코딩
#1. pandas get_dummies() 사용해 변환
X1=pd.get_dummies(X)
X.shape, X1.shape

((30162, 6), (30162, 41))

In [455]:
X1.columns

Index(['age', 'hours-per-week', 'workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_Assoc-acdm',
       'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate',
       'education_HS-grad', 'education_Masters', 'education_Preschool',
       'education_Prof-school', 'education_Some-college',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'gender_Female', 'gender_Male'],
      dtype='object')

In [458]:
#원핫인코딩
#2. scikit-learn OneHotEncoder 사용
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
r = ohe.fit_transform(X[[ 'workclass','education', 'occupation', 'gender']])
r.shape, r

((30162, 39),
 array([[0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 1., ..., 0., 0., 1.],
        ...,
        [0., 0., 1., ..., 0., 1., 0.],
        [0., 0., 1., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 1., 0.]]))

In [461]:
ohe.get_feature_names_out()

array(['workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_Assoc-acdm',
       'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'occupation_Adm-clerical',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'gender_Female', 'gender_Male'],
      dtype=object)

In [ ]:
#onehot encoding 된 feature들과 나머지 feature 합치기

In [462]:
#연속형 값
c_v = df[['age','hours-per-week']]
c_v

       age  hours-per-week
0       39              40
1       50              13
2       38              40
3       53              40
4       28              40
...    ...             ...
32556   27              38
32557   40              40
32558   58              40
32559   22              20
32560   52              40

[30162 rows x 2 columns]

In [467]:
#r은 numpy 배열
#2차원 배열로
c_v = df[['age','hours-per-week']].values

type(r), type(r), c_v

(numpy.ndarray,
 numpy.ndarray,
 array([[39, 40],
        [50, 13],
        [38, 40],
        ...,
        [58, 40],
        [22, 20],
        [52, 40]], dtype=int64))

In [468]:
#pandas concat = numpy concatenate
X2=np.concatenate([c_v, r], axis=1)
X2.shape

(30162, 41)

In [465]:
#6.0.1  모델 학습
import sklearn.tree

(numpy.ndarray, numpy.ndarray)

In [ ]:
#train, test set 나누기
# X1,y
# X2,y

In [ ]:
#모델생성

In [ ]:
#추론

In [ ]:
#평가